<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content class="custom-layout">
  <div class="main-container">
    <ion-fab horizontal="end" vertical="top">
      <ion-fab-button color="danger" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <h1>Add Document</h1>
    <p>Please add document to continue.</p>
    <div *ngFor="let document of documentArr; let i = index">
      <div class="second-row">
        <fieldset class="doc-fieldset">
          <legend>
            <h1 class="doc-type custom-layout">
              {{dormDocumentForm.documentType[i]}}
            </h1>
          </legend>

          <div class="upload">
            <div class="upload-icon" *ngIf="currentPlatform === 'android'">
              <ion-buttons>
                <ion-button (click)="getCameraPhoto(i)">
                  <ion-icon class="camera" name="camera"></ion-icon>
                </ion-button>
                <ion-label class="take-photo custom-layout"
                  >Take Photo</ion-label
                >
              </ion-buttons>

              <ion-buttons>
                <ion-button (click)="getGalleryPhoto(i)">
                  <ion-icon
                    class="image"
                    name="image-outline"
                    *ngIf="currentPlatform === 'android'"
                  ></ion-icon>
                </ion-button>
                <ion-label class="gallery-photo custom-layout"
                  >Gallery</ion-label
                >
              </ion-buttons>
            </div>
            <ion-button
              class="select-docu-btn custom-layout"
              *ngIf="currentPlatform === 'desktop'"
              for="file-upload"
              (click)="file.click()"
              [hidden]="dormDocumentForm.imgURL[i] !== undefined"
              >Select Document</ion-button
            >
            <input
              hidden="true"
              #file
              type="file"
              id="file-upload"
              accept="image/*"
              (change)="getImageFile(file.files, i)"
            />
            <ion-button
              class="remove-btn custom-layout"
              [hidden]="dormDocumentForm.imgURL[i] === undefined"
              (click)="removeSelectedImage(i)"
              >Remove</ion-button
            >

            <img
              [src]="this.dormDocumentForm.imgURL[i]"
              height="300"
              *ngIf="this.dormDocumentForm.imgURL[i]"
            />
          </div>
        </fieldset>
      </div>
    </div>
    <div class="document-content">
      <ion-button
        class="ion-document-btn custom-layout"
        (click)="uploadDocumentAction(dormitoryId)"
        >Upload Document</ion-button
      >
    </div>
    <div class="error-container">
      <p class="error-text" *ngIf="errorMessage !== ''">{{ errorMessage }}</p>
    </div>
  </div>
</ion-content>
