<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content>
  <ion-list class="profile-header">
    <div class="avatar">
      <ion-avatar>
        <img src="/assets/images/profile.svg" />
      </ion-avatar>
    </div>
    <div class="btn-container">
      <div class="signin-btn">
        <ion-button
          class="ion-suggest-button custom-layout"
          (click)="openModal(signInAs)"
        >
          Sign In
        </ion-button>
      </div>
      <div class="signup-btn">
        <ion-button
          class="ion-suggest-button custom-layout"
          (click)="openModal(signUpAs)"
        >
          Sign Up
        </ion-button>
      </div>
    </div>
  </ion-list>
</ion-content>
