<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<app-header></app-header>
<ion-content>
  <ion-list class="profile-header" *ngIf="!userData">
    <div class="profile-content">
      <div class="avatar">
        <img src="../../../assets/images/aredna_icon_nobg.png" style="width: 100%; height:100%; margin: 0xp 0px 0px 0px;"/>
      </div>
      <div class="btn-container">
        <div class="signin-btn">
          <ion-button
            class="ion-signin-button custom-layout"
            (click)="openModal(signInAs)"
          >
            Sign In
          </ion-button>
        </div>
        <div class="signup-btn">
          <ion-button
            class="ion-signup-button custom-layout"
            (click)="openModal(signUpAs)"
          >
            Sign Up
          </ion-button>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
