<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content>
  <!-- Here you will create the design for user to sign in -->
  <ion-list class="profile-header" *ngIf="!userData">
    <div class="avatar">
      <ion-avatar>
        <img src="/assets/images/profile.svg" />
      </ion-avatar>
    </div>
    <div class="btn-container">
      <div class="signin-btn">
        <ion-button
          class="ion-suggest-button custom-layout"
          (click)="openModal(signInAs)"
        >
          Sign In
        </ion-button>
      </div>
      <div class="signup-btn">
        <ion-button
          class="ion-suggest-button custom-layout"
          (click)="openModal(signUpAs)"
        >
          Sign Up
        </ion-button>
      </div>
    </div>
  </ion-list>
  <!--Here you will create the design for User Profile-->
  <div *ngIf="userData">
    <h1>{{userData.name}}</h1>
    <ion-button (click)="signOutAction()">Sign Out</ion-button>
  </div>
</ion-content>
