.custom-layout{
    font-family: 'Poppins', sans-serif;
  }

.profile-header{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    background-image: url("/assets/images/dorm ui bg.png");
    background-size: cover;
}
.profile-content{
    width:100%;
    padding: 0px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-direction: column;
}

.btn-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

//.profile-header{
//    height: 35%;
//    width: 120%;
//    background: linear-gradient(90deg, var(--ion-color-success) 0%, var(--ion-color-primary)100%);
//    box-shadow: 0, 1px 10px var(--ion-color-light);
//    border-radius: 0 0 0% 0%;
//    margin-left: -4.5vh;
    
//   div{
//        transform: translateY(2vh);
//        ion-avatar{
//            width: 15vh;
//           height: 15vh;
//            background: #fff;
//            margin-bottom: 5px;
//            border: 4px solid rgb(231, 231, 231);
//        }
//    }
///}
.avatar{
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //flex-direction: column;
    img{
        width: 120px;
        //position: absolute;
        //margin-top: 80%
    }
    ion-card{
        margin-top: 0px;
        margin-bottom: 100px;
        --ion-background-color: transparent !important;
        box-shadow: none;
        text-align: center;
        //position: absolute;
       // margin-top: 130%;
    }
    
    ion-card-title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
      
    }
    ion-card-subtitle{
        font-size: 20px;
        text-transform: uppercase;
        
    }
}
.ion-signin-button {

    --background:transparent;
    --border-radius: 50px;
    width: 250px;
    margin-bottom: 20px;
    height: 40px;
    box-shadow: none;
    color: darkolivegreen;
    border: 2px solid forestgreen;
    border-radius: 50px;
    --box-shadow: none;
  }
.ion-signup-button {

    --background:rgb(66, 131, 66);
    --border-radius: 50px;
    width: 250px;
    margin-bottom: 20px;
    height: 40px;
  }



/////////////////User Profile CSSS///////////////////.

.content{
    background-color: #d9e3d6;
    height: -webkit-fill-available;
    ion-header{
        position: relative;
        --ion-background-color: #d9e3d6;
    }
    ion-toolbar{
        --ion-background-color: #d9e3d6;
        --opacity:0;
    
    }
    
    ion-title{
        font-size: 10px;
        font-style: normal;
        font-weight: lighter;
        color: #fff;
    }
    ion-avatar{
        height: 100px;
        width: 100px;
        margin: auto;
        border: 3px solid #2b8357;
    }
    
}

.body-content{
    display: block;
    width: 100%;
    height: 200px;
    background-color: #46783f;
    ion-buttons{
        position: absolute;
        margin: 10px 0px 0px 10px;
    }
 
}
.profile{
    margin: 0px 0px 0px 60px;
    padding-top: 25px;
    font-size:15px;
    font-weight: 400;
}
.overylay{
    position: relative;
    align-items: center;
    top: 45%;
}

ion-card-content{
    ion-button{
        width: 100%;
        --background: var(--dls19-brand-gradient,
         linear-gradient(to right, #2c6b31 0%, #30834c 50%, #50a337 100%));
    }
}
ion-card{
    margin-top: 30px;
    --ion-background-color: transparent !important;
    box-shadow: none;
    text-align: center;
}

ion-card-title{
    text-transform: uppercase;
    font-weight: 700;
}

ion-item{
    --ion-item-background: #b3c8ae;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    height: 45px;
    --min-height:45px;
    margin-bottom: 15px;
}

ion-label{
    text-align: center;
}


