.custom-layout {
  font-family: "Poppins", sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0% 10% 0% 10%;
  background-image: url("/assets/images/BG3.png");
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
}
.controller-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ion-item-round-border {
  --border-radius: 20px;
  --background: none;
}
ion-card-content {
  // background: #d9ead3;
  background: #dff3d6;
}
.page-title {
  font-size: 35px;
  font-weight: bold;
  margin: 20px 0px 0px 10px;
  text-align: center;
}
.controller-btn {
  // width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #b3cfb3;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  transition: 0.5s;
}
.filter-content {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  transition: 0.5s;
}
.filter-content .filter-button {
  width: 120px;
  height: 30px;
  --background: rgb(66, 131, 66);
  --border-radius: 100px;
  text-transform: none;
}
.filter-content .rate ion-item {
  width: 120px;
  height: 40px;
}
.filter-content .rate ion-input {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}
.filter-content .rate {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.controller-btn ion-label {
  color: black;
  font-weight: 600;
}
.controller-btn ion-segment-button:hover {
  background: rgb(250, 250, 250);
  border-radius: 10px;
  transition: 0.7s;
}
.controller-btn ion-segment-button {
  margin: 0px 10px 0px 10px;
}
.filter-content ion-item {
  border-radius: 20px;
}
// .controller-btn ion-segment-button{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: 2px solid #2b8357;
//   --border-radius: 50px;
//   margin-left: 15px;
//   height: 25px;
//  }

ion-segment {
  display: flex;
  white-space: nowrap;
  font-size: 0;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  ion-segment-button.segment-button {
    display: inline-block;
    min-width: 100px;
    width: auto;
  }
}

.all-btn {
  --background: rgb(66, 131, 66);
  --border-radius: 50px;
  margin-bottom: 20px;
  margin-right: 10px;
  height: 40px;
  box-shadow: none;
}
.filter-btn {
  --background: transparent;
  --border-radius: 50px;
  margin-bottom: 20px;
  margin-right: 10px;
  height: 40px;
  box-shadow: none;
  color: darkolivegreen;
  border: 2px solid forestgreen;
  border-radius: 50px;
  --box-shadow: none;
}

.filter-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: auto;
  top: 5px;
  left: 10%;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

  @media (max-width: 400px) {
    width: 100%;
    height: 100%;
    position: none;
    top: 0;
    left: 0;
    border-radius: 0px;
    box-shadow: none;
  }
}

.icon-button {
  font-size: 25px;
  cursor: pointer;
  margin: 10px;
  align-self: flex-end;
}

fieldset {
  border-radius: 20px;
  border: 1px solid lightgray;
  margin: 10px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: gray;
}
.empty-content img {
  height: 200px;
}
.empty-content h1 {
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  align-self: center;
  width: 65rem;
  height: auto;
  margin: 20px 0px;
  padding: 5px 10px 10px 10px;

  @media (max-width: 1300px) {
    width: 30rem;
    padding: 5px 10px 10px 10px;
  }

  @media (max-width: 700px) {
    width: 25rem;
    padding: 5px 10px 10px 10px;
  }

  @media (max-width: 400px) {
    width: 20rem;
    padding: 5px 10px 10px 10px;
    .empty-content img {
      height: 120px;
    }
  }
}

.toggle-button-text {
  text-align: center;
}

.start {
  display: flex;
  flex-direction: row;
}
.card {
  width: 325px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.view-detail-btn {
  margin-top: 2px;
  text-transform: none;
  width: 100%;
  height: 30px;
  --background: rgb(66, 131, 66);
  --border-radius: 10px;
}

// .card {
//   display: flex;
//   flex-direction: column;
//   width: 350px;
//   height: auto;
//   padding: 0px;
//   border-radius: 10px;
//   border: 1px solid lightgray;
// }

.card-title {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
}

.card-text {
  font-size: 12px;
}

.image-container {
  width: auto;
  height: 200px;
  object-fit: contain;
}

.image {
  margin: 0px;
  border-radius: 8px 8px 0px 0px;
  object-fit: contain;
}

.button-text {
  width: 100%;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.page-content {
  display: flex;
  width: 100%;
  height: 100%;
}

@media (max-width: 1500px) {
  .card {
    width: 325px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0% 0% 0% 0%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .main-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .controller-btn ion-segment-button:hover {
    background: none;
    border-radius: 10px;
    transition: 0.7s;
  }
  .empty-content h1 {
    width: 100%;
  }
}

@media (max-width: 1700px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }

  .card-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
  }

  .card-text {
    font-size: 12px;
  }
}

@media (max-width: 1500px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }

  .card-title {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
  }

  .card-text {
    font-size: 9px;
  }
}

@media (max-width: 1220px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
}

@media (max-width: 990px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }

  .card-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
  }

  .card-text {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
}

@media (max-width: 765px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
}
@media (max-width: 500px) {
  .controller-btn {
    display: flex;
    width: 100%;
    margin-left: 0;
  }
  .empty-content {
    width: 22rem;
  }
  .empty-content h1 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .controller-btn {
    // width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #b3cfb3;
    border-radius: 0px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: 0.5s;
  }
}
@media (max-width: 500px) {
  .page-content {
    padding: 0px 0px;
    height: 100%;
    max-height: 80vh;
    overflow: auto;
  }
  .page-content ion-col {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 400px;
    margin: 5px 0px;
  }
}
@media (max-width: 450px) {
  .card {
    width: 385px;
    margin: 5px 0px;
  }
}
@media (max-width: 400px) {
  .card {
    width: 340px;
    margin: 5px 0px;
  }
}
@media (max-width: 360px) {
  .card {
    width: 320px;
  }
  .controller-btn {
    display: flex;
    width: 100%;
    margin-left: 0;
  }
  .empty-content {
    width: 20rem;
  }
  .empty-content img {
    height: 120px;
  }
  .page-content {
    padding: 0px;
    height: 100%;
    max-height: 75vh;
    overflow: auto;
  }
}
@media (max-width: 335px) {
  .card {
    width: 300px;
  }
}
@media (max-width: 315px) {
  .card {
    width: 280px;
  }
}
