<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<app-header></app-header>

<ion-content>
  <div class="main-container custom-layout">
    <div class="main-title-container">
      <!-- <ion-item
        class="ion-item-round-border"
        lines="none"
        button="true"
        (click)="onToggle()"
      >
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-item>
      <div *ngIf="toggle === true" class="filter-container">
        <ion-icon
          (click)="onToggle()"
          class="icon-button"
          name="close-outline"
        ></ion-icon>
        <fieldset>
          <legend>Gender Filter</legend>
          <ion-item
            class="ion-item-round-border"
            lines="none"
            button="true"
            (click)="getAllDormitories(filter.male, '?')"
          >
            <p>Male</p>
          </ion-item>
          <ion-item
            class="ion-item-round-border"
            lines="none"
            button="true"
            (click)="getAllDormitories(filter.female, '?')"
          >
            <p>Female</p>
          </ion-item>
          <ion-item
            class="ion-item-round-border"
            lines="none"
            button="true"
            (click)="getAllDormitories(filter.both, '?')"
          >
            <p>Both</p>
          </ion-item>
        </fieldset>
        <fieldset>
          <legend>Price Filter</legend>
          <ion-item>
            <ion-label position="floating">Minimum</ion-label>
            <ion-input [(ngModel)]="filter.minimumPayment"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Maximum</ion-label>
            <ion-input [(ngModel)]="filter.maximumPayment"></ion-input>
          </ion-item>
          <ion-button expand="full" (click)="getPayment()">Find</ion-button>
        </fieldset>
        <ion-item
          class="ion-item-round-border"
          color="danger"
          lines="none"
          button="true"
          (click)="getAllDormitories(filter.all, '?')"
        >
          <p>Remove Filter</p>
        </ion-item>
      </div> -->
      <h1 class="page-title">Dormitories</h1>
    </div>
    <div class="controller-panel">
      <div class="controller-btn custom-layout">
        <ion-segment scrollable value="all" color="dark" (ionChange)="segmentChange($event)">
          <ion-segment-button
            value="all"
            (click)="getAllDormitories(filter.all, '?')"
          >
            <ion-label class="custom-layout">All</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="gender-filter"
            (click)="openGenderToggle()"
          >
            <ion-label class="custom-layout">Gender</ion-label>
          </ion-segment-button>
          <ion-segment-button value="price-filter" (click)="openPriceToggle()">
            <ion-label class="custom-layout">Price</ion-label>
          </ion-segment-button>
          <ion-segment-button value="reserve-filter">
            <ion-label class="custom-layout">Reserve</ion-label>
          </ion-segment-button>
           <ion-segment-button value="top-filter">
            <ion-label class="custom-layout">Top Dorm</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
    <div class="controller-panel">
      <div class="controller-btn custom-layout" *ngIf="genderToggle === true">
        <ion-segment color="dark">
          <ion-segment-button
            value="male"
            (click)="getAllDormitories(filter.male, '?')"
          >
            <ion-label class="custom-layout">Male</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="female"
            (click)="getAllDormitories(filter.female, '?')"
          >
            <ion-label class="custom-layout">Female</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="Both"
            (click)="getAllDormitories(filter.both, '?')"
          >
            <ion-label class="custom-layout">Both</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
    <div class="controller-panel">
      <div class="filter-content custom-layout" *ngIf="priceToggle == true">
        <div class="rate">
          <ion-item lines="none">
            <ion-input
              class="custom-layout"
              [(ngModel)]="filter.minimumPayment"
              placeholder="Minimum"
            ></ion-input>
          </ion-item>
          -
          <ion-item lines="none">
            <ion-input
              class="custom-layout"
              [(ngModel)]="filter.maximumPayment"
              placeholder="Maximum"
            ></ion-input>
          </ion-item>
        </div>
        <ion-button class=" filter-button custom-layout" (click)="getPayment()"
          >Filter</ion-button
        >
      </div>
    </div>
    <div *ngIf="dormitoryData.length === 0" class="empty-content">
      <h1 class="custom-layout">Sorry! There is no dormitories to show 🙁</h1>
    </div>
    <div class="page-content">
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col
            sizeLg="3"
            sizeMd="12"
            sizeSm="12"
            *ngFor="let dormitory of dormitoryData"
          >
            <div class="card">
              <img
                class="image"
                *ngIf="dormitory.DormProfileImage === null"
                src="../../../assets/images/20503de4f96ace6f1ff06e61a4540c13.png"
              />
              <img
                *ngIf="dormitory.DormProfileImage !== null"
                class="image"
                [src]="url+'/image/dormitoryProfileImage/'+dormitory.DormProfileImage.filename"
              />
              <ion-card-content>
                <ion-card-title>
                  <p class="card-title">{{dormitory.name}}</p>
                </ion-card-title>
                <ion-label>{{ dormitory.address }}</ion-label>
                <br />
                <ion-button
                  class="view-detail-btn custom-layout"
                  (click)="viewDetailsAction(dormitory.id)"
                  >View Detail</ion-button
                >
              </ion-card-content>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
