<ion-tabs>
  <ion-tab-bar position="bottom" *ngIf="activePlatform === 'android'">
    <ion-tab-button tab="home">
      <ion-icon color="success" size="large" name="search-circle"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dormitories">
      <ion-icon color="success" size="large" name="business"></ion-icon>
      <ion-label>Dormitories</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon color="success" size="large" name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
