.custom-layout {
  font-family: "Poppins", sans-serif;
}

.modal-container {
  background-color:	rgb(128,128,128, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.modal ion-button{
  margin-top: 10px;
}
.modal ion-textarea{
  height: 187px;
}
.address-txt span{
  width: 70%;
  display: flex;
  justify-content: end;
}
.textarea {
  display: flex;
  width: 100%;
  max-height: 200px;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-radius: 10px;
  z-index: 4;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.main-container p {
  margin: 5px;
  color: gray;
  letter-spacing: 1px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-container span {
  color: black;
  letter-spacing: 1px;
}

.detail-content {
  margin-top: 25px;
}

.detail-content h4 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
}

// .reservation-detail-content {
//   padding: 20px;
//   background: #d7d3d3;
//   border-radius: 20px;
//   margin-top: 7px;
//   margin-bottom: 15px;
// }

.reservation-detail-content h4 {
  justify-content: center;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.mark-active-btn{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.mark-active-btn ion-button{
  --background: rgb(53, 121, 53);
  --border-radius: 10px;
}

.btn-container ion-button {
  --background: rgb(53, 121, 53);
  --border-radius: 10px;
  width: 125px;
}

.custom-shape-divider-top-1635929551 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1635929551 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 133px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1635929551 .shape-fill {
  fill: #518A5E;
}

@media (max-width: 600px) {
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 320px;
    background-color: white;
    border-radius: 0px;
  }
  .modal ion-button{
    margin-top: 10px;
  }
  .modal h3{
    text-align: center;
  }
  .address-txt span{
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 550px){
  .main-container {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}
