<ion-content>
  <ion-button (click)="closeModal(dormitoryId)">Close</ion-button>
  <div>
    <h4>Room Detail</h4>
    <p>Room Name: {{(roomDetailData)?.name}}</p>
    <p>Room Capacity: {{(roomDetailData)?.capacity}}</p>
    <p>Active Tenant: {{(roomDetailData)?.activeTenant}}</p>
  </div>

  <div>
    <h4>Reservation Detail</h4>
    <p>Tenant: {{(reservationDetailData)?.name}}</p>
    <p>Tenant Address: {{(reservationDetailData)?.address}}</p>
    <p>Tenant Contact Number: {{(reservationDetailData)?.contactNumber}}</p>
    <p>Tenant Email: {{(reservationDetailData)?.email}}</p>
    <p>Target Room: {{(reservationDetailData)?.roomName}}</p>
    <p>Target Slot: {{(reservationDetailData)?.roomSlot}}</p>
  </div>
  <div
    [hidden]="(reservationDetailData)?.isAccepted === true || (reservationDetailData)?.isActive === true"
  >
    <ion-button
      (click)="acceptTenantReservation(dormitoryId, roomId, reservationId)"
      >Accept</ion-button
    >
    <ion-button
      (click)="rejectTenantReservationAction(dormitoryId, roomId, reservationId)"
      >Reject</ion-button
    >
  </div>
  <div>
    <ion-button
      [hidden]="(reservationDetailData)?.isAccepted === false"
      (click)="addUserAsActiveTenantAction(dormitoryId, roomId, reservationId)"
    >
      Mark as Active Tenant
    </ion-button>
    <ion-button
      [hidden]="(reservationDetailData)?.isActive === false"
      (click)="removeUserAsActiveTenantAction(dormitoryId, roomId, reservationId)"
    >
      Remove Tenant
    </ion-button>
  </div>
</ion-content>
