<ion-content>
  <div class="main-container">
    <ion-button (click)="closeModal()">Close</ion-button>
    <div *ngIf="currentPlatform === 'android'">
      <ion-button (click)="getCameraPhoto()"> Cammera </ion-button>
      <ion-button (click)="getGalleryPhoto()"> Gallery </ion-button>
    </div>
    <div>
      <ion-button
        *ngIf="currentPlatform === 'desktop'"
        for="file-upload"
        (click)="file.click()"
        >Select Image</ion-button
      >
      <input
        hidden="true"
        #file
        type="file"
        accept="image/*"
        id="file-upload"
        (change)="getImageFile(file.files)"
      />
    </div>
    <img [src]="imgURL" height="300" *ngIf="imgURL" />
    <ion-button (click)="uploadBannerImageAction(dormitoryId)"
      >Upload Banner</ion-button
    >
    <p *ngIf="errorMessage !== ''">{{ errorMessage }}</p>
  </div>
</ion-content>
