<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<ion-content>
<div class="content-container">
<div class="close-btn">
     
        <ion-icon slot="icon-only" size="large" name="close-circle-sharp" color="dark"></ion-icon>
 
  </div>
  <form class="box">
  <img src="./assets/images/sign-up-as.svg">
    <h1 class="custom-layout">Sign Up <br> as</h1>
    <ion-button class="ion-suggest-button custom-layout" (click)="openModal('owner')">Owner</ion-button>
    <ion-button class="ion-suggest-button custom-layout" (click)="openModal('tenant')">Tenant</ion-button>
  </form>
</div>
