ion-content{
    --background: linear-gradient(0deg, rgb(0,0,0,0.7), rgb(0, 0, 0, 0.1)),
    url("/assets/images/20503de4f96ace6f1ff06e61a4540c13.png") no-repeat center center / cover;

}
.custom-layout{
    font-family: 'Poppins', sans-serif;
}

.change-section{
    height: 68%;
    width: 100%;
    max-width: 500px;
    background: #fff;
    top: 5%;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;

    .heading{
        margin-top: 10px;
        h1{
            font-size: 1.6rem;
            font-weight: bolder;
        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color: gray;
        }
    }

    .change-form{
        .change-input{
            position: relative;
            margin-bottom: 10px;
            ion-item::part(native){
            padding-left: 0;
            }

            ion-icon{
                position: absolute;
                top: 25px;
                z-index: 2;
                font-size: 1.5rem;
                left: 5px;
            }
            ion-label{
                position: absolute;
                margin-left: 35px;
                font-weight: bolder;
                font-size: 0.9rem;
                top: 10px;
            }

            ion-input{
                font-size: 0.9rem;
                --padding-start: 36px;
                --padding-top: 36px;
                color: gray;
            }
        }
    }
    .action-buttons{
        top: 0;
        text-align: center;
        padding-top: 10px;
        .change-button{
            width: 100%;
            font-weight: bold;
        }
    }
}
@media (max-width: 870px){
    .change-section{
        position: absolute;
        top: 32%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        bottom: 0;
    }
    
}


