<ion-header>
  <ion-toolbar>
    <ion-title>changePassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Password:</ion-label>
    <ion-input [(ngModel)]="credentials.plainPassword"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirm Password:</ion-label>
    <ion-input [(ngModel)]="credentials.plainConfirmPassword"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="changePassword()">Change Password</ion-button>
</ion-content>
