<app-header></app-header>

<ion-content>
  <ion-card *ngFor="let dormitory of dormitoryData">
    <ion-card-header>
      <ion-card-title>{{dormitory.name}}</ion-card-title>
      <ion-label>{{dormitory.address}}</ion-label>
    </ion-card-header>
    <img
      *ngIf="dormitory.DormProfileImage === null"
      src="../../../assets/images/20503de4f96ace6f1ff06e61a4540c13.png"
    />
    <img
      *ngIf="dormitory.DormProfileImage !== null"
      class="image"
      [src]="url+'/image/dormitoryProfileImage/'+dormitory.DormProfileImage.filename"
    />
    <ion-card-content>
      <ion-label>Owner: {{ dormitory.User.name }}</ion-label>
      <ion-label></ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
