.custom-layout{
   font-family: 'Poppins', sans-serif;
}
ion-fab{
  display: none;
}
.main-content{
  height: 100%;
  overflow-y: scroll;
  .left-panel{
    width: 100% ;
    margin-left: auto ;
    margin-right: auto ;
    padding-left: 0px ;
    padding-right: 0px ;
  }
  .left-content{
    width: 54% ;
    h1{
      margin-left: 5px;
      margin-bottom: 0px;
      font-weight: 800;
    }

  }
}
ion-list{
  padding-top: 30px;
  margin-left: 5px;
}
.top-text{
  p{
    font-size: 14px;
    margin-bottom: 15px;
  }
  a{
    color: black;
  }
}
.ion-all-button{
  --background:transparent;
  --border-radius: 50px;
  width: 100px;
  height: 35px;
  box-shadow: none;
  color: darkolivegreen;
  border: 2px solid forestgreen;
  border-radius: 50px;
  --box-shadow: none;
  margin-right: 10px;
}
.ion-add-button{
  --background:transparent;
  --border-radius: 50px;
  width: 150px;
  height: 35px;
  box-shadow: none;
  color: darkolivegreen;
  border: 2px solid forestgreen;
  border-radius: 50px;
  --box-shadow: none;
}
.head-btn{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.item-images{
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-top:20px;
  margin-bottom:20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  img{
      object-fit: cover;
      height: 100%;
      width: 100%;
  }
}
.item-contents{
  display: flex;
  flex-direction: row;
}
.details-content{
  padding-left: 10px;
  display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    h5{
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    p{
      margin: 5px;
      color: gray;
      font-size: 13px;
    }
    span{
      color: black;
    }
}
.view-btn{
  margin-top: 28px;
  text-transform: none;
    width: 110px;
    height: 35px;
    --background:rgb(66, 131, 66);
    --border-radius: 20px;
}

.main-map{
  position: absolute;
  z-index: 0;
  right: 15px;
  top: 0px;
  height: 100%;
  width: 45%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  .google-maps{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 0;

  }
  }

  @media (max-width: 1200px){
    .main-map{
      display:flex;
      right: 0;
      width: 100%;
    }
    .google-maps{
      height: 100%;
      width: 100%;

    }
    ion-fab{
      display: flex;
    }
    .left-panel{

      width: 100% ;

    }
    .left-content{
      display: contents;
      width: 100% ;

    }
    
  }
  @media (max-width: 870px){
    .main-map{
      display:flex;
      width: 100%;
      height: 100%;
    }
    .google-maps{
      width: 100%;
      height: 100%;
    }
    .left-panel{

      width: 100% ;

    }
    .left-content{
      display: contents;
      width: 100% ;

    }
  }
  @media (max-width: 670px){
    .details-content{
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      align-items: flex-start;
      padding: 0px;
        h5{
          margin-top: 0px;
          margin-left: 5px;
          margin-bottom: 10px;
        }
        p{
          margin: 5px;
          color: gray;
          font-size: 13px;
        }
        span{
          color: black;
        }
    }
    .view-btn{
      margin-top: 10px;
      margin-bottom: 15px;
    }
    ion-item {
      --padding-start: 10px;
      --inner-padding-start: 0px;
      --padding-end: 10px;
      --inner-padding-end: 0px;
    }
    .item-images{
      width: 100%;
      height: 200px;
    }
    .item-contents{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .top-text{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .main-map{
      width: 100%;
      height: 100%;
    }
    .google-maps{
      width: 100%;
      height: 100%;
    }
  }
// .dormlist-header{
//   height: 20%;
//   //background:rgba(144, 198, 149, 1) ;
//   h1{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     margin: 0;
//     padding: 10px;
//   }
// }
// ion-card-content{
//   display: flex;
//   flex-direction: column;
//   padding: 10px;
//   background: aliceblue;
// }
// .title{
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   font-size: large;
// }
// ///ion-segment{
// //  background:rgba(144, 198, 149, 1) ;
// //}
// ion-item {
//   --padding-start: 0px;
//   --inner-padding-start: 0px;
//   --padding-end: 0px;
//   --inner-padding-end: 0px;
// }
// ion-card{
//   flex-direction: column;
//   width: 400px;
//   height: auto;
//   padding: 0px;
//   border-radius: 10px ;
//   border: 1px solid lightgray;
//   margin-left: 20px;


// }

// @media (max-width: 1700px) {
//     ion-card {
//       display: flex;
//       flex-direction: column;
//       width: 400px;
//       height: auto;
//       padding: 0px;
//       border-radius: 10px ;
//       border: 1px solid lightgray;
//       margin-left: 20px;
//     }
//   }

//   @media (max-width: 1600px) {
//     ion-card {
//       display: flex;
//       flex-direction: column;
//       width: 280px;
//       height: auto;
//       padding: 0px;
//       border-radius: 10px ;
//       border: 1px solid lightgray;
//       margin-left: 20px;

//     }
//   }

//   @media (max-width: 1500px) {
//     ion-card {
//       display: flex;
//       flex-direction: column;
//       width: 280px;
//       height: auto;
//       padding: 0px;
//       border-radius: 10px ;
//       border: 1px solid lightgray;
//       margin-left: 20px;

//     }
//   }

//   @media (max-width: 1450px) {
//     ion-card {
//       display: flex;
//       flex-direction: column;
//       width: 250px;
//       height: auto;
//       padding: 0px;
//       border-radius: 10px ;
//       border: 1px solid lightgray;
//       margin-left: 20px;

//     }
//   }

//   @media (max-width: 1300px) {
//     ion-card {
//       display: flex;
//       flex-direction: column;
//       width: 200px;
//       height: auto;
//       padding: 0px;
//       border-radius: 10px ;
//       border: 1px solid lightgray;
//       margin-left: 20px;

//     }
//   }

//   @media (max-width: 990px) {
//     ion-card {
//       display: flex;
//       flex-direction: column;
//       width: 350px;
//       height: auto;
//       padding: 0px;
//       border-radius: 10px ;
//       border: 1px solid lightgray;
//       margin-left: 20px;

//     }
//   }

//   @media (max-width: 950px) {
//     ion-card {
//       display: flex;
//       flex-direction: column;
//       width: 300px;
//       height: auto;
//       padding: 0px;
//       border-radius: 10px ;
//       border: 1px solid lightgray;
//       margin-left: 20px;

//     }
//   }

//   @media (max-width: 700px) {
//     ion-card {
//       display: flex;
//       flex-direction: column;
//       width: 300px;
//       height: auto;
//       padding: 0px;
//       border-radius: 10px ;
//       border: 1px solid lightgray;
//       margin-left: 20px;

//     }
//   }

 // .mobile-btn{
    //   display: flex;
    //   margin-bottom: env(safe-area-inset-bottom);
    //   position: fixed;
    //     bottom: 1px;
    //     z-index: 8;
    //     white-space: nowrap;
    //     left: 50%;
    //     transition: -ms-transform 0.2s ease-in-out 0s, -webkit-transform 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s !important;
    //     transform: translate(-50%, -48px);
    // }

    // .view-mobile-btn{
    //   display: flex;
    //   -webkit-box-pack: center;
    //   -webkit-box-align: center;
    //   appearance: none ;
    //   display: inline-flex;
    //   border-radius: 24px;
    //   //border: 1px solid rgba(0, 0, 0, 0.08) !important;
    //   outline: none;
    //   margin: 0px;
    //   padding: 0px 19px ;
    //   color: rgb(255, 255, 255);
    //   cursor: pointer;
    //   touch-action: manipulation;
    //   align-items: center;
    //   justify-content: center;
    //   box-shadow: none;
    //   transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
    //   background: rgb(168, 39, 39);
    // }
