.custom-layout {
  font-family: "Poppins", sans-serif;
}

.edit-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
}
.edit-input ion-button{
  --background:transparent;
  --box-shadow: none;
}
.edit-input .edit-label{
  text-transform: none;
  margin-right: 3px;
  font-size: 13px;
  text-decoration: underline;
}
fieldset {
  border-radius: 30px;
  width: 90%;
  margin-bottom: 20px;
}
.edit-input ion-icon{
  font-size: 13px;
}
.password-container{
  width: 100%;
  padding: 0px 20px;
}
.password-container ion-button{
  --background: rgb(66, 131, 66);
  --border-radius: 5px;
  margin-bottom: 10px;
}
.profile-image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  object-fit: cover;
}
.profile-image-container img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.profile-image-container ion-button{
  margin-top: 15px;
}
.select-profile-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.edit-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 80%;
  overflow: auto;
  overflow-x: hidden;
  transition: 0.7s;
}
.edit-container h4{
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 17px;
}
.select-profile-section .select-image-btn{
  width: 150px;
  height: 35px;
  --background: rgb(66, 131, 66);
  --border-radius: 5px;
  text-transform: none;
}
.select-profile-section .upload-btn{
  height: 35px;
  --background: rgb(66, 131, 66);
  --border-radius: 5px;
  text-transform: none;
}
.profile-header {
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  background-image: url("/assets/images/dorm ui bg.png");
  background-size: cover;
}
.profile-content {
  width: 100%;
  padding: 0px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  flex-direction: column;
}

.documents-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.verify-acc-btn {
  --background: rgb(66, 131, 66);
  --border-radius: 50px;
  width: 160px;
  margin-bottom: 0px;
  height: 35px;
  text-transform: none;
}
.verify-button {
  --background: rgb(66, 131, 66);
  --border-radius: 50px;
  width: 160px;
  margin-bottom: 10px;
  height: 35px;
  text-transform: none;
}
.select-btn {
  --background: rgb(66, 131, 66);
  --border-radius: 50px;
  width: 160px;
  margin-bottom: 10px;
  height: 35px;
  text-transform: none;
}
.item-verify-content {
  height: 100%;
}

// img {
//   margin-top: 10px;
//   margin-bottom: 0px;
//   overflow: hidden;
//   object-fit: cover;
//   width: 100%;
//   height: 370px;
//   border-radius: 10px;
//   display: flex;
// }
// .image-container{
//   width: 50%;
//   height: 120px;
//   border-radius: 10px;
//   margin:20px;
// }
.image-container img {
  object-fit: cover;
  height: 370px;
  width: 100%;
  border-radius: 20px;
}
.btn-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;

  width: 100%;
}
.docs-panel{
  display: flex;
  justify-content: center;
  align-items: center;
}

// .image-properties {
//   margin: 0px;
//   width: 12vh;
//   height: 12vh;
//   border-radius: 50%;
// }

//.profile-header{
//    height: 35%;
//    width: 120%;
//    background: linear-gradient(90deg, var(--ion-color-success) 0%, var(--ion-color-primary)100%);
//    box-shadow: 0, 1px 10px var(--ion-color-light);
//    border-radius: 0 0 0% 0%;
//    margin-left: -4.5vh;

//   div{
//        transform: translateY(2vh);
//        ion-avatar{
//            width: 15vh;
//           height: 15vh;
//            background: #fff;
//            margin-bottom: 5px;
//            border: 4px solid rgb(231, 231, 231);
//        }
//    }
///}
.avatar {
  img {
    width: 120px;
  }
  ion-card {
    margin-top: 0px;
    margin-bottom: 100px;
    --ion-background-color: transparent !important;
    box-shadow: none;
    text-align: center;
  }

  ion-card-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }
  ion-card-subtitle {
    font-size: 20px;
    text-transform: uppercase;
  }
}
// .ion-signin-button {
//   --background: transparent;
//   --border-radius: 50px;
//   width: 250px;
//   margin-bottom: 20px;
//   height: 40px;
//   box-shadow: none;
//   color: darkolivegreen;
//   border: 2px solid forestgreen;
//   border-radius: 50px;
//   --box-shadow: none;
// }
// .ion-signup-button {
//   --background: rgb(66, 131, 66);
//   --border-radius: 50px;
//   width: 250px;
//   margin-bottom: 20px;
//   height: 40px;
// }

/////////////////User Profile CSSS///////////////////.

.custom-layout {
  font-family: "Poppins", sans-serif;
}
.content-container {
  position: relative;
  height: 100%;
  // background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url("/assets/images/dorm ui bg.png");
  background-size: cover;
}

.box {
  width:70%;
  height: 60%;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: whitesmoke;
  box-shadow: 0 15px, 25px rgba(0,0,0,0.5);
  transform: translate(-50%, -50%);
  border-radius: 10px;

}
ion-avatar {
  height: 100px;
  width: 100px;
  margin: 15px 0px 0px 0px;
  border: 3px solid #2b8357;
  top: 5%;
}
ion-card {
  margin: 0px;
  --ion-background-color: transparent !important;
  box-shadow: none;
  text-align: center;
}

ion-card-title {
  text-transform: none;
  font-weight: 700;
}
ion-card-content {
  --padding-inline-end: 0px;
  --inner-padding-end: 0px;
  --padding-inline-start: 0px;
  --inner-padding-start: 0px;
  ion-button {
    width: 100%;
    --background: var(
      --dls19-brand-gradient,
      linear-gradient(to right, #2c6b31 0%, #30834c 50%, #50a337 100%)
    );
  }
  .item-content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: -webkit-fill-available;
    justify-content: space-between;
  }
}

ion-item {
  width: 100%;
  --ion-item-background: transparent;
  //--ion-item-background: #b3c8ae;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  --min-height: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info ion-label {
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 0px;
}

.image {
  background-image: url("/assets/images/BG5.jpg");
  background-size: cover;
  display: flex;
  width: 42%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    font-weight: bold;
    color: #777;
  }
}
.main-content {
  position: absolute;
  height: 100%;
  width: 60%;
  right: 0;
  top: 0%;
  bottom: 0;
  padding-left: 20px;
  overflow-y: hidden;
  overflow-x: hidden;

  h1 {
    text-align: center;
    width: 100%;
    margin: 0px;
    font-weight: 700;
  }
  p {
    padding-left: 20px;
  }
  .contact-number {
    padding-top: 25px;
  }
}

.ion-suggest-button {
  width: 150px;
  height: 35px;
  --background: rgb(66, 131, 66);
  --border-radius: 100px;
  text-transform: none;
}
// .edit-btn{
//   position: absolute;
//   top: 0;
//   margin-top: 10px;
//   margin-left: 120px;
// }
.edit {
  --background: transparent;
  --border-radius: 50px;
  width: 150px;
  margin-bottom: 20px;
  height: 30px;
  text-transform: none;
  box-shadow: none;
  color: darkolivegreen;
  border: 2px solid forestgreen;
  border-radius: 50px;
  --box-shadow: none;
}

.mobile-btn ion-buttons {
  display: flex;
  flex-direction: column;
}
.photo-btn {
  width: 100px;
  height: 77px;
}
.gallery-photo {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}
.camera-btn {
  width: 100px;
  height: 77px;
}
.take-photo {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}
.ion-suggest-button:hover {
  --background: rgb(136, 221, 136);
}
.verify-button:hover {
  --background: rgb(136, 221, 136);
}
.verify-acc-btn:hover {
  --background: rgb(136, 221, 136);
}
.select-btn:hover {
  --background: rgb(136, 221, 136);
}
@media (max-width: 900px) {
  .content-container {
    position: relative;
    height: 100%;
    // background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    background: whitesmoke;
    background-size: cover;
  }
  .box {
    height: 100%;
    width: 100%;
    padding: 0px 0px 10px;
    border-radius: 0px;
  }
  ion-card-header {
    padding: 0;
  }
  .name {
    margin: 0px;
  }
  .image {
    width: 100%;
    height: 55%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    .edit {
      position: absolute;
      top: 10px;
      padding-left: 95%;
    }
  }
  .main-content {
    position: absolute;
    top: 55%;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  ion-item {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .image-container{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    margin:20px;
  }
  .image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .documents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .edit-container tr{
    display: flex;
    flex-direction: column;
  }
  .edit-container table{
    width: 100%;
  }
}
.mobile-btn {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
// // .photo-btn{
// //   width: 100px;
// //   height: 77px;
// // }
// // .gallery-photo{
// //   position: absolute;
// //   bottom: 0;
// //   margin-bottom: 5px;
// // }
// .camera-btn{
//   width: 100px;
//   height: 77px;
// }
// .take-photo{
//   position: absolute;
//   bottom: 0;
//   margin-bottom: 5px;
// }

@media (max-width: 870px) {
  .box {
    height: 100%;
    width: 100%;
    padding: 0px 0px 10px;
  }

  .image {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    .edit {
      position: absolute;
      top: 10px;
      padding-right: 20px;
    }
  }
  .main-content {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    .text-info {
      margin: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
      --padding: 0px;
    }

    .contact-number {
      padding-top: 10px;
    }
  }
  ion-card-content {
    --padding-inline-end: 0px;
    --inner-padding-end: 0px;
    --padding-inline-start: 0px;
    --inner-padding-start: 0px;
    .item-content {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      width: -webkit-fill-available;
      justify-content: space-between;
    }
  }
  ion-item {
    height: 65px;
    --min-height: 65px;
  }
  .select-profile-section{
    width: 100%;
  }
  .select-profile-section ion-button{
    margin-top: 20px;
  }
  legend{
    text-align: center;
  }
}

//////////////////////////////////old css////////////////////////////////////////
.content {
  background-color: #d9e3d6;
  height: -webkit-fill-available;
  ion-header {
    position: relative;
    --ion-background-color: #d9e3d6;
  }
  ion-toolbar {
    --ion-background-color: #d9e3d6;
    --opacity: 0;
  }

  ion-title {
    font-size: 10px;
    font-style: normal;
    font-weight: lighter;
    color: #fff;
  }
}

.body-content {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #46783f;
  ion-buttons {
    position: absolute;
    margin: 10px 0px 0px 10px;
  }
}
.profile {
  margin: 0px 0px 0px 60px;
  padding-top: 25px;
  font-size: 15px;
  font-weight: 400;
}
.overylay {
  position: relative;
  align-items: center;
  top: 45%;
}
