<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content>
  <div class="fp-container">
    <div class="fp">
      <div class="arrow">
        <ion-buttons slot="start">
          <ion-button (click)="goBackAction()">
            <ion-icon slot="icon-only" color="dark" name="arrow-back">
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <form class="forms-container">
        <div class="images">
          <img src="/assets/images/fp-avatar.svg" />
        </div>
        <h1 class="custom-layout">Please enter your registered email ID</h1>
        <p class="custom-layout">
          We will send a link to your registed email ID.
        </p>
        <div *ngIf="isEmailSent === false">
          <div class="form-input">
            <ion-input
              class="input custom-layout"
              type="text"
              name="email"
              placeholder="Email ID"
              [(ngModel)]="credentials.email"
            ></ion-input>
          </div>
          <div class="suggestView">
            <ion-button
              class="ion-suggest-button custom-layout"
              size="meduim"
              routerLink="/password-verification"
              (click)="checkEmailAction()"
              >Submit</ion-button
            >
          </div>
        </div>
        <div *ngIf="isEmailSent === true">
          <p>Please check your email to change your password! Thank you!</p>
        </div>
      </form>
    </div>
  </div>
</ion-content>
