<app-header></app-header>

<ion-content>
  <h1>Create Dormitory</h1>
  <ion-item>
    <ion-label position="floating">Dormitory Name: </ion-label>
    <ion-input [(ngModel)]="dormitoryForm.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Dormitory Address: </ion-label>
    <ion-input [(ngModel)]="dormitoryForm.address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Dormitory Contact Number: </ion-label>
    <ion-input [(ngModel)]="dormitoryForm.contactNumber"></ion-input>
  </ion-item>
  <ion-list>
    <ion-radio-group [(ngModel)]="dormitoryForm.allowedGender" name="gender">
      <ion-header class="ion-no-border custom-layout">
        Allowed Gender
      </ion-header>
      <div class="radio-container">
        <ion-radio value="male"></ion-radio>
        <ion-label class="custom-layout">Male</ion-label>
        <ion-radio value="female"></ion-radio>
        <ion-label class="custom-layout">Female</ion-label>
        <ion-radio value="both"></ion-radio>
        <ion-label class="custom-layout">Both</ion-label>
      </div>
    </ion-radio-group>
    <ion-item>
      <ion-label position="floating">Document Type: </ion-label>
      <ion-input [(ngModel)]="dormDocumentForm.documentType"></ion-input>
    </ion-item>
    <input #file type="file" accept="image/*" (change)="getImageFile(file.files)" />
    <img [src]="imgURL" height="300" *ngIf="imgURL" />
  </ion-list>
  <ion-button (click)="createDormitory()">Create Dormitory</ion-button>
</ion-content>
