.custom-layout {
  font-family: "Poppins", sans-serif;
}

.left-item {
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.left-content {
  position: relative;
  width: 640px;
  margin-left: 0%;
  margin-right: 0%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
ion-fab {
  margin-left: 10px;
}

.search-key h1{
  text-transform:capitalize;
  margin-left: 15px;
}
.search-btn {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
ion-searchbar {
  width: 80%;
  --border-radius: 100px;
}
.images {
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 15px;
}
.images img {
  width: 100px;
}
.search-btn ion-button {
  margin-top: 12px;
  margin-left: 10px;
  text-transform: none;
  width: 110px;
  height: 35px;
  --background: rgb(66, 131, 66);
  --border-radius: 20px;
}
.item-contents {
  display: flex;
  flex-direction: row;
}
.details-content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  align-items: flex-start;
  justify-content: center;
  h5 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  p {
    margin: 5px;
    color: gray;
    font-size: 13px;
  }

  span {
    color: black;
  }
}
.item-images {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  ion-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.right-map {
  position: relative;
  width: calc(100% - 640px);
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  .right-section {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
  }
}

@media (max-width: 670px){
  .main-content{
    padding-top: 10px;
  }
  .left-content{
    width: 100%;
  }
  .item-images {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    ion-img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  ion-list{
    display: flex;
    flex-direction:column;
    align-items:center;
  }
  .details-content{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    align-items: flex-start;
    padding: 0px;
  }
  ion-fab-button{
    margin-left: 5px;
  }
  ion-item {
    --padding-end: 0px;
    --padding-start: 0;
    --inner-padding-end: 0px;
  }
  .right-map{
    display:none;
    .right-section{
      display:none;
    }
  }
  .search-key h1{
    text-transform:capitalize;
    font-size: 19px;
  }
  .item-contents {
    display: flex;
    flex-direction: column;
  }
  .search-btn{
    width:100%;
    margin-left: 0px;
  }
  .details-content .ratings-text{
    margin-bottom: 20px;
  }
}
