<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content>
  <div class="main-container custom-layout">
    <div class="manage-container">
      <ion-fab slot="start">
        <ion-fab-button (click)="goBackToDetailPage(dormitoryId)">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <h1 class="manage-title">Manage Dormitory</h1>
      <div class="management-container">
        <ion-grid>
          <ion-row>
            <ion-col
              size-xl="3"
              size-lg="6"
              size-md="6"
              size-sm="6"
              size-xs="12"
              *ngFor="let button of manageButtons"
            >
              <div class="wrapper" >
                <div  class="icon">
                  <div class="tool-tip" >{{button.hover}}</div>
                  <ion-item
                    [style.--background]="button.backgroundColor"
                    lines="none"
                    button="true"
                    (click)="button.toDo(dormitoryId)"
                  >
                    <!-- <img [src]="button.image" alt="" /> -->
                    <div class="management-card">
                      <p class="management-text custom-layout">
                        {{ button.name }}
                      </p>
                      <div class="icon-container">
                        <ion-icon name="add-outline"></ion-icon>
                        <ion-icon
                          class="icon-properties"
                          [name]="button.icon"
                        ></ion-icon>
                      </div>
                    </div>
                  </ion-item>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
