.custom-layout{
  font-family: 'Poppins', sans-serif;
  margin: 5px;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.manage-title {
  font-weight: bold;
  font-size: 50px;
  margin-top: 65px;
  margin-left: 10px;
}
ion-fab-button{
  margin-left: 10px;
  --background:transparent;
  // --box-shadow: none;
}
ion-icon{
  color: black;
}
.manage-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  border: 1px solid lightgrey;
  padding: 40px;
  background-color: white;
}

.management-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.management-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0px;
}

@media (max-width: 600px) {
  .manage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
  }
  ion-item:hover {
    transform: none;
   }
}

ion-item {
  // --background:#f59800;
  --border-radius: 20px;
  transition: 0.3s;
  margin:5px;
}
ion-item:hover {
 transform: scale(1.1);
}

.management-text {
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  // position: absolute;
  // bottom: 5px;
  // right: 15px;
}

.icon-properties {
  font-size: 30px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
