<ion-content>
  <div class="main-container">
    <div class="profile-container" *ngIf="userData">
      <div class="image-container">
        <img
          *ngIf="userProfileImage === null"
          class="profile-image"
          src="../../../assets/images/default_profile.jpg"
          width="125"
          height="125"
          alt=""
        />
        <img
          *ngIf="userProfileImage !== null"
          class="profile-image"
          [src]="url + '/image/profileImage/' + userData.ProfileImage.filename"
          width="125"
          height="125"
          alt=""
        />
        <ion-button
          *ngIf="userProfileImage === null"
          fill="clear"
          color="primary"
          size="small"
          >Add Image</ion-button
        >
        <ion-button
          *ngIf="userProfileImage !== null"
          fill="clear"
          color="danger"
          size="small"
          >Remove Image</ion-button
        >
      </div>
      <h5 class="title-text">
        {{userData.name}}<ion-icon
          *ngIf="userData.isVerified === true"
          color="primary"
          name="checkmark-circle"
        ></ion-icon>
      </h5>
      <p class="body-text">@{{userData.username}}</p>
      <div class="profile-container">
        <legend class="body-title">Profile Information</legend>
        <p class="body-text">{{userData.email}}</p>
        <p class="body-text">{{userData.address}}</p>
        <p class="body-text">{{userData.contactNumber}}</p>
      </div>
      <div class="button-container">
        <ion-item
          class="ion-item"
          color="primary"
          lines="none"
          button="true"
          (click)="toggle('dashboard')"
        >
          <div class="button">
            <ion-label>Dashboard</ion-label>
          </div>
        </ion-item>
      </div>
      <div class="button-container">
        <ion-item class="ion-item" color="primary" lines="none" button="true">
          <div class="button">
            <ion-label>Edit</ion-label>
          </div>
        </ion-item>
      </div>
      <div class="button-container">
        <ion-item
          class="ion-item"
          color="danger"
          lines="none"
          button="true"
          (click)="signOutAction()"
        >
          <div class="button">
            <ion-label>Sign Out</ion-label>
          </div>
        </ion-item>
      </div>
    </div>
    <div class="content-container" *ngIf="dashboardToggle === true">
      <div class="content-header">
        <h1 class="content-title">Dashboard</h1>
      </div>
      <div class="content-container" *ngIf="userAccountData">
        <h1 class="dashboard-title">Priority --</h1>
        <div class="not-verified-container">
          <div class="dashboard-container">
            <h6 class="dashboard-title">Users Pending Verification</h6>
            <div class="dashboard-card-container">
              <ion-button
                class="ion-button"
                size="default"
                color="medium"
                [disabled]="numberOfNotVerifiedOwner === 0"
              >
                Owner <ion-badge> {{ numberOfNotVerifiedOwner}} </ion-badge>
              </ion-button>
              <ion-button
                class="ion-button"
                size="default"
                color="medium"
                [disabled]="numberOfNotVerifiedTenant === 0"
              >
                Tenant <ion-badge> {{ numberOfNotVerifiedTenant}} </ion-badge>
              </ion-button>
            </div>
          </div>
          <div class="dashboard-container">
            <h6 class="dashboard-title">Dormitories Pending Verification</h6>
            <div class="dashboard-card-container">
              <ion-button
                class="button-view"
                size="default"
                color="medium"
                [disabled]="numberOfNotVerifiedDormitories === 0"
              >
                Dormitory
                <ion-badge>{{numberOfNotVerifiedDormitories}}</ion-badge>
              </ion-button>
            </div>
          </div>
        </div>
        <h1 class="dashboard-title">Users --</h1>
        <div class="dashboard-card-container">
          <div class="dashboard-card-dormitory">
            <h1 class="dashboard-text">Admin</h1>
            <h1 class="dashboard-text text-background">{{numberOfAdmin}}</h1>
            <ion-button
              class="button-view"
              (click)="toggle('admin')"
              [disabled]="numberOfAdmin === 0"
            >
              View All
            </ion-button>
          </div>
          <div class="dashboard-card-dormitory">
            <h1 class="dashboard-text">Owner</h1>
            <h1 class="dashboard-text text-background">{{numberOfOwner}}</h1>
            <ion-button
              class="button-view"
              (click)="toggle('owner')"
              [disabled]="numberOfOwner === 0"
            >
              View All
            </ion-button>
          </div>
          <div class="dashboard-card-dormitory">
            <h1 class="dashboard-text">Tenant</h1>
            <h1 class="dashboard-text text-background">{{numberOfTenant}}</h1>
            <ion-button
              class="button-view"
              (click)="toggle('tenant')"
              [disabled]="numberOfTenant === 0"
            >
              View All
            </ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container" *ngIf="adminToggle === true">
      <div class="content-header">
        <h1 class="content-title">Admin</h1>
        <ion-item class="add-button" lines="none" button="true" color="primary">
          <ion-icon name="person-add"></ion-icon>
        </ion-item>
      </div>
      <div class="content-container">
        <div class="card-container" *ngFor="let admin of adminData">
          <div class="card-body">
            <div class="image">
              <img
                *ngIf="admin.ProfileImage === null"
                class="image-property"
                src="../../../assets/images/default_profile.jpg"
                alt=""
              />
              <img
                *ngIf="admin.ProfileImage !== null"
                class="image-property"
                [src]="url + '/image/profileImage/' + admin.ProfileImage.filename"
                alt=""
              />
            </div>
            <div class="profile">
              <p class="card-muted-text">ID: {{admin.id}}</p>
              <div>
                <h1 class="card-title">
                  {{admin.name}}
                  <ion-icon
                    *ngIf="admin.isVerified === true"
                    color="primary"
                    name="checkmark-circle"
                  ></ion-icon>
                </h1>
                <p class="card-body-text">@{{admin.username}}</p>
                <p class="card-body-text">{{admin.email}}</p>
                <p class="card-body-text">{{admin.contactNumber}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container" *ngIf="ownerToggle === true">
      <div class="content-header">
        <h1 class="content-title">Owner</h1>
      </div>
      <div class="content-container">
        <div class="card-container" *ngFor="let owner of ownerData">
          <div class="card-body">
            <div class="image">
              <img
                *ngIf="owner.ProfileImage === null"
                class="image-property"
                src="../../../assets/images/default_profile.jpg"
                alt=""
              />
              <img
                *ngIf="owner.ProfileImage !== null"
                class="image-property"
                [src]="url + '/image/profileImage/' + owner.ProfileImage.filename"
                alt=""
              />
            </div>
            <div class="profile">
              <p class="card-muted-text">ID: {{owner.id}}</p>
              <div>
                <h1 class="card-title">
                  {{owner.name}}
                  <ion-icon
                    *ngIf="owner.isVerified === true"
                    color="primary"
                    name="checkmark-circle"
                  ></ion-icon>
                </h1>
                <p class="card-body-text">@{{owner.username}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container" *ngIf="tenantToggle === true">
      <div class="content-header">
        <h1 class="content-title">Tenant</h1>
      </div>
      <div class="content-container">
        <div class="card-container" *ngFor="let tenant of tenantData">
          <div class="card-body">
            <div class="image">
              <img
                *ngIf="tenant.ProfileImage === null"
                class="image-property"
                src="../../../assets/images/default_profile.jpg"
                alt=""
              />
              <img
                *ngIf="tenant.ProfileImage !== null"
                class="image-property"
                [src]="url + '/image/profileImage/' + tenant.ProfileImage.filename"
                alt=""
              />
            </div>
            <div class="profile">
              <p class="card-muted-text">ID: {{tenant.id}}</p>
              <div>
                <h1 class="card-title">
                  {{tenant.name}}
                  <ion-icon
                    *ngIf="tenant.isVerified === true"
                    color="primary"
                    name="checkmark-circle"
                  ></ion-icon>
                </h1>
                <p class="card-body-text">@{{tenant.username}}</p>
              </div>
            </div>
          </div>
          <ion-button class="card-button" size="small" fill="clear">
            More
            <ion-icon name="chevron-down-outline"></ion-icon
          ></ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
