.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10px 10% 5px 10%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  margin: 2.5px;
  padding: 0px 20px 5px 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.profile-container {
  @extend .container;
  width: 100%;
  flex: 2;
  position: sticky;
  top: 0px;
}

.content-container {
  @extend .container;
  width: 100%;
  height: auto;
  flex: 6;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 15px 5px 10px;
  border-radius: 0px;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

.add-button {
  --border-radius: 50%;
}

.content-title {
  font-size: 50px;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: lightgray;
  margin: 5px 0px 5px 0px;
}

.card-body {
  display: flex;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 10px 0px;
}

.image {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.image-property {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex: 6;
  flex-direction: column;
}

.card-title {
  margin: 5px 0px 0px 10px;
  font-weight: bold;
  font-size: 25px;
}

.card-muted-text {
  align-self: flex-end;
  margin: 10px 0px 0px 0px;
  font-size: 10px;
  color: gray;
}

.card-body-text {
  margin: 5px 0px 0px 10px;
  font-size: 14px;
}

.card-button {
  --border-radius: 0px 0px 20px 20px;
}

.manage-container {
  @extend .container;
  width: 100%;
  height: auto;
  flex: 2;
}

.manage-title {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.user-container {
  @extend .container;
  border-radius: none;
  width: 100%;
  padding: 10px 10px 10px 10px;
  gap: 5px;
}

.title {
  @extend .text;
  color: gray;
  font-weight: bold;
  margin: 0px 0px 0px 15px;
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  align-self: center;
  margin: 10px 0px 0px 0px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.text {
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin: 0px 0px 8px 0px;
}

.title-text {
  @extend .text;
  font-weight: bold;
}

.body-text {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  margin: 0px 0px 8px 0px;
}

.body-title {
  @extend .text;
  align-self: center !important;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px 0px 0px 0px;
}

.button {
  @extend .button-container;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.ion-item {
  --border-radius: 20px;
}

.ion-button {
  --border-radius: 20px;
}

.not-verified-container {
  @extend .container;
  flex-direction: row;
  border-radius: none;
  border: none;
  padding: 0px;
  width: 100%;
}

.dashboard-container {
  @extend .container;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.dashboard-card-container {
  @extend .container;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: none;
  border: none;
  gap: 10px;
  padding: 0px;

  .button-view {
    --border-radius: 50px;
  }
}

.dashboard-card {
  @extend .container;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.dashboard-title {
  color: black;
  font-weight: bold;
  margin: 20px 0px 5px 10px;

  @media (max-width: 1450px) {
  }
}

.dashboard-card-dormitory {
  @extend .container;
  @extend .dashboard-card;
  padding: 10px 15px 8px 15px;
}

.dashboard-text {
  color: black;
  margin: 0px;
  font-weight: bold;
}

.text-background {
  background-color: lightgray;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  margin: 2px 0px 5px 0px;
  text-align: center;
}

.border {
  border: 1px solid lightgray;
  border-radius: 20px;
}
