<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<app-header></app-header>

<ion-content>
  <!--div class="main-container">
    <div class="content-container" *ngIf="dormitoryData">
      <img
        class="image-property"
        *ngIf="!dormitoryData.DormProfileImage"
        src="../../../assets/images/20503de4f96ace6f1ff06e61a4540c13.png"
        alt=""
      />
      <img
        class="image-property"
        *ngIf="dormitoryData.DormProfileImage"
        [src]="url + '/image/dormitoryProfileImage/' + dormitoryData.DormProfileImage.filename "
        alt="Image"
      />
      <div class="content-body">
        <div class="content-body-header">
          <h1 class="dormitory-title">
            {{dormitoryData.name}}
            <ion-icon
              *ngIf="dormitoryData.isVerified === true"
              class="verified-icon"
              name="checkmark-circle"
            ></ion-icon>
          </h1>
          <ion-button
            class="activate-button"
            *ngIf="dormitoryStatus === false"
            (click)="dormitorySwitchAction(dormitoryStatus, dormitoryData.id)"
            color="danger"
            ><ion-icon name="power-outline"></ion-icon
          ></ion-button>
          <ion-button
            class="activate-button"
            *ngIf="dormitoryStatus === true"
            (click)="dormitorySwitchAction(dormitoryStatus, dormitoryData.id)"
            color="success"
            ><ion-icon name="power-outline"></ion-icon
          ></ion-button>
        </div>
        <div class="status-text-container">
          <p class="status-text-muted">Current Status:</p>
          <p class="status-text">{{currentDormitoryStatus}}</p>
        </div>
        <br />
        <h3>Owner: {{dormitoryData.User.name}}</h3>
      </div>
      <div>
        <p>{{errorMessage}}</p>
      </div>
    </div>
    <div class="manage-container">
      <ion-button class="back-button" color="danger" (click)="goBackToHome()"
        >Back</ion-button
      >
      <fieldset>
        <legend>Manage Dormitory</legend>
        <ion-button expand="full">Sample</ion-button>
      </fieldset>
    </div>
  </div>-->

  <!--Image and location Section-->
  <div class="main-container">
    <div class="image-panel">
      <div class="first">
        <ion-icon name="star"></ion-icon>
        <span class="rate custom-layout">4.5 Ratings</span>
        <span
          ><a class="place custom-layout" href=""
            >{{(dormitoryData)?.address}}</a
          ></span
        >
        <ion-button
          class="activate-button"
          *ngIf="dormitoryStatus === false && userRole === 'owner'"
          (click)="dormitorySwitchAction(dormitoryStatus, dormitoryData.id)"
          color="danger"
          >{{currentDormitoryStatus}}</ion-button
        >
        <ion-button
          *ngIf="dormitoryStatus === true && userRole === 'owner'"
          class="activate-button"
          (click)="dormitorySwitchAction(dormitoryStatus, dormitoryData.id)"
          color="success"
        >
          {{currentDormitoryStatus}}
        </ion-button>
      </div>
      <div class="image-section">
        <ion-fab class="back-fab-btn">
          <ion-fab-button class="arrow-float-btn" (click)="goBackToHome()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <div class="profile-thumb">
          <ion-fab class="fab-panel" *ngIf="userRole === 'owner'">
            <ion-fab-button class="edit-float">
              <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button class="edit-float">
              <ion-icon name="trash"> </ion-icon>
            </ion-fab-button>
          </ion-fab>
          <img
            *ngIf="dormitoryProfileImage === null"
            src="/assets/images/20503de4f96ace6f1ff06e61a4540c13.png"
          />
          <img
            *ngIf="dormitoryProfileImage"
            [src]="url + '/image/dormitoryProfileImage/' + dormitoryProfileImage.filename"
          />
        </div>
      </div>
    </div>

    <div class="left-panel">
      <div class="left-container">
        <div class="left-content">
          <ion-list>
            <ion-item class="ion-no-padding">
              <div class="dorm-item">
                <h3 class="custom-layout">
                  {{(dormitoryData)?.name}}
                  <ion-icon
                    name="checkmark-circle"
                    *ngIf="((dormitoryData)?.isVerified === true )"
                  ></ion-icon>
                </h3>
                <p class="custom-layout">
                  Current Status:<span>{{currentDormitoryStatus}}</span>
                </p>
                <p class="custom-layout">
                  Owner: <span>{{(userData)?.name}}</span>
                </p>
              </div>
            </ion-item>
            <!--display of room of tenant-->
            <ion-item class="ion-no-padding">
              <div class="item-images custom-layout">
                <h3 class="custom-layout">Room</h3>
                <p class="custom-layout" *ngIf="roomsData.length === 0">
                  No Room available
                </p>
                <div class="room" *ngIf="roomsData.length !== 0">
                  <ion-slides [options]="sliderOpts" class="room-slides">
                    <ion-slide *ngFor="let room of roomsData">
                      <div class="card">
                        <div class="room-top-btn">
                          <ion-fab horizontal="end" vertical="top" slot="fixed">
                            <ion-fab-button
                              class="floating-btn"
                              color="transparent"
                              *ngIf="userRole === 'owner'"
                            >
                              <ion-icon
                                class="floating-icon"
                                size="large"
                                md="ellipsis-horizontal-circle"
                                ios="chevron-back-circle-outline"
                              ></ion-icon>
                            </ion-fab-button>
                            <ion-fab-list
                              side="start"
                              *ngIf="userRole === 'owner'"
                            >
                              <ion-fab-button color="transparent">
                                <ion-icon name="remove-circle"></ion-icon>
                              </ion-fab-button>
                              <ion-fab-button color="light">
                                <ion-icon name="trash"></ion-icon>
                              </ion-fab-button>
                              <ion-fab-button color="light">
                                <ion-icon name="create"></ion-icon>
                              </ion-fab-button>
                            </ion-fab-list>
                          </ion-fab>
                        </div>
                        <h1 class="room-text">{{room.name}}</h1>
                        <p class="room-text">
                          Current Room Status: {{room.activeTenant}} tenants
                        </p>
                        <p class="room-text">
                          Room Capacity: {{room.capacity}} person
                        </p>
                        <p class="room-text">Cost: {{room.roomCost}}</p>
                        <p class="room-text">
                          Electricity Bill: {{room.electricBill}}
                        </p>
                        <p class="room-text">Water Bill: {{room.waterBill}}</p>
                        <ion-button
                          class="reservation-btn custom-layout"
                          *ngIf="userRole === 'tenant' || userRole === null"
                          [disabled]="userRole === null"
                          >Reserve
                        </ion-button>
                      </div>
                    </ion-slide>
                  </ion-slides>
                </div>
              </div>
            </ion-item>
            <!--Amenities section-->
            <ion-item class="ion-no-padding">
              <div class="amenities">
                <h3 class="custom-layout">What this place offers</h3>
                <p class="custom-layout" *ngIf="amenitiesData.length === 0">
                  No amenity available
                </p>
                <div class="amenity" *ngFor="let amenity of amenitiesData">
                  <!-- <ion-icon name="tv-outline"></ion-icon> -->
                  <p class="amenity-text custom-layout">{{amenity.name}}</p>
                </div>

                <!-- <div class="wifi">
                  <ion-icon name="wifi-outline"></ion-icon>
                  <p class="custom-layout">Wifi Access</p>
                </div>

                <div class="med">
                  <ion-icon name="medkit-outline"></ion-icon>
                  <p class="custom-layout">First Aid Kit</p>
                </div>

                <div class="refrigerator">
                  <img src="/assets/icon/refrigerator-outline.png" />
                  <p class="custom-layout">Refrigerator</p>
                </div> -->

                <!-- <div>
                  Icons made by
                  <a href="https://www.freepik.com" title="Freepik">Freepik</a>
                  from
                  <a href="https://www.flaticon.com/" title="Flaticon"
                    >www.flaticon.com</a
                  >
                </div> -->
                <!--Show All Amenities button -->
                <!-- <div class="amenities-btn">
                  <ion-button class="ion-suggest-button"
                    >Show all amenities</ion-button
                  >
                </div> -->
              </div>
            </ion-item>
            <!--More image of the dorm section-->
            <ion-item class="ion-no-padding">
              <div class="item-images">
                <h3 class="custom-layout">More images</h3>
                <ion-slides [options]="sliderOpts" class="preview-slides">
                  <p class="custom-layout" *ngIf="dormImagesData.length === 0">
                    No Images available
                  </p>
                  <ion-slide *ngFor="let dormImage of dormImagesData">
                    <ion-fab vertical="top" horizontal="end" slot="fixed">
                      <ion-fab-button class="edit-float">
                        <ion-icon name="trash"> </ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                    <img
                      [src]="url + '/image/dormImage/' + dormImage.filename"
                      tappable
                      (click)="openPreview(dormImage.filename, 'dormImage')"
                    />
                  </ion-slide>
                </ion-slides>
              </div>
            </ion-item>
            <!--Map Section-->
            <ion-item class="ion-no-padding">
              <h3 class="header custom-layout">Where you'll be</h3>
              <div class="maps">
                <div class="google-maps" id="map2"></div>
              </div>
            </ion-item>
          </ion-list>
        </div>
        <!--Right Side panel Owner Manage Section-->
        <div class="right-container">
          <div class="right-panel" *ngIf="userRole === 'owner'">
            <div class="box-content">
              <div class="manage-border">
                <ion-button class="ion-manage-btn">Sample</ion-button>
                <ion-button class="ion-manage-btn">Sample</ion-button>
                <ion-button class="ion-manage-btn">Sample</ion-button>
                <!--<ion-button
                  class="back-button"
                  color="danger"
                  (click)="goBackToHome()"
                  >Back</ion-button
                >-->
                <!--<fieldset>
                  <legend>Manage Dormitory</legend>
                  <div>
                    <ion-button class="ion-manage-btn">Sample</ion-button>
                    <ion-button class="ion-manage-btn">
                    <span>Sample
                    <ion-icon name="notifications-circle-outline"></ion-icon>
                    </span>
                    </ion-button>
                  </div>
                </fieldset>-->
              </div>
            </div>
          </div>

          <!--Right Side panel Tenant view Price Section-->
          <div class="right-panel">
            <div
              class="box-content"
              *ngIf="userRole === 'tenant' || userRole === null"
            >
              <div class="price-border">
                <ion-button class="tenant-btn">Instructions</ion-button>
                <ion-button class="tenant-btn">Sample</ion-button>
                <ion-text>
                  Reservation Details Make sure your guests are familiar with
                  the reservation details. Of course, this will include the
                  check-in and out times, the listing’s address, direct contact
                  information, and a receipt for the rental for your guests.
                  Airbnb will handle your receipts and allow you to input this
                  info. Keeping all of these details handy and accessible to
                  travellers will make the check-in and checkout process quick
                  and painless for you and your guests.
                </ion-text>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="comment-section">
      <div class="wrapper">
        <form action="" class="form">
          <h4 class="comment-header custom-layout">Leave us a comment</h4>
          <div class="input-group custom-layout">
    <div class="comment-section">
      <div class="wrapper">
        <form action="" class="form">
          <h4 class="comment-header custom-layout">Leave us a comment</h4>
          <!--div class="input-group custom-layout">
              <ion-label for="name">Name</ion-label>
              <ion-input type="text" id="" placeholder="Enter your Name" required></ion-input>
            </div>
            <div class="input-group custom-layout">
              <ion-label for="email">Email</ion-label>
              <ion-input
                type="text"
                id=""
                placeholder="Enter your Email"
                required
              >
              </ion-input>
            </div>
          <div class="input-group textarea custom-layout">
            <ion-label for="comment">Comment</ion-label>
            <ion-input
              type="text"
              id=""
              placeholder="Enter your Comment"
              required
            >
            </ion-input>
            <ion-button class="post-btn custom-layout">Post Comment</ion-button>
          </div>
        </form>
        <div class="prev-comments" *ngFor="let c of comments">
          <div class="single-item custom-layout">
            <div class="profile">
              <ion-avatar>
                <img src="/assets/images/profile.svg" alt="" />
              </ion-avatar>
              <div class="header-content">
                <h5>{{c.username}}</h5>
                <p>{{c.email}}</p>
              </div>
            </div>
            <ion-text>{{c.comment}} </ion-text>
          </div>
        </div>
      </div>
    </div>-->
    <div class="question-section">
      <div class="box custom-layout">
        <ion-item class="image-item">
          <img src="./assets/images/questions.svg" />
          <p class="heading">Questions</p>
        </ion-item>

        <div class="questions">
          <details>
            <summary>What you can say about this dormitory?</summary>
            <ion-label></ion-label>
            <ion-input
              size="10"
              type="text"
              placeholder="Enter your Comment"
              required
            >
            </ion-input>
            <ion-button class="post-btn custom-layout">Post Comment</ion-button>
            <div class="prev-comments" *ngFor="let c of comments">
              <div class="single-item custom-layout">
                <div class="profile">
                  <ion-avatar>
                    <img [src]="c.profile" alt="" />
                    <!--img src="/assets/images/profile.svg" alt="" />-->
                  </ion-avatar>
                  <div class="header-content">
                    <h5>{{c.username}}</h5>
                    <p>{{c.email}}</p>
                  </div>
                </div>
                <ion-text>{{c.comment}} </ion-text>
              </div>
            </div>
          </details>
          <details>
            <summary>Question 2 Here</summary>
            <p>Dormitory is a.....................</p>
          </details>
          <details>
            <summary>Question 3 Here</summary>
            <p>Dormitory is a.....................</p>
          </details>
        </div>
      </div>
    </div>
  </div>
</ion-content>
