// .main-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: flex-start;
//   width: 100%;
//   height: 100%;
//   padding: 0% 15% 0% 15%;
// }

.container_properties {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 10px 5px;
  border-radius: 20px;
}

.content-container {
  @extend .container_properties;
  padding: 5px 5px 5px 5px;
  border: 1px solid lightgray;
  flex: 3;
}

.manage-container {
  @extend .container_properties;
  padding: 5px 5px 5px 5px;
  background-color: lightgray;
  flex: 1;
}

.image-property {
  margin: 0px;
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 20px 20px;
  object-fit: cover;
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px 20px 20px;
  background-color: lightgray;
  margin: 5px 0px 0px 0px;
  border-radius: 20px 20px 20px 20px;
}

.content-body-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}


.dormitory-title {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}

.status-text-container {
  display: flex;
  flex-direction: row;
}

.status-text-muted {
  margin: 0px 0px 0px 0px;
  color: gray;
  font-size: 18px;
}
.button-native{
  border-radius: 10px;
}

.status-text {
  margin: 0px 0px 0px 2px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}


// .back-button {
//   --border-radius: 20px;
// }

legend {
  text-align: center;
  color: gray;
  font-weight: bold;
}
fieldset {
  margin: 5px 5px 5px 5px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid gray;
}






























.custom-layout{
  font-family: 'Poppins', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 250px;
  background-color:#fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  h1{
    text-transform:capitalize;
    font-size: 20px;
    font-weight: 700;
    margin-bottom:15px;
    margin-top: 10px;
  }
  p{
    display: list-item;
    list-style: inside;
  }
}
ion-fab-list{
  padding-bottom: 22px;
  margin-right: 40px;
}

.floating-btn{
  width: 40px;
  height: 40px;
  --box-shadow: none;
  ion-icon{
    color:rgb(66, 131, 66);
  }
}

.room-text {
  // display: list-item;
  // list-style: inside;
  margin: 3px;
  font-size: 13.5;
}

.main-container{
  //padding: 10px 80px;
  padding: 0% 15% 0% 15%;

  ion-icon{
      color:rgb(66, 131, 66);
  }
}
.preview-slides:hover img{
  //filter: grayscale(100%);
  //-webkit-filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}
.preview-slides ion-fab-button{
  display: none;
  // --background:rgb(66, 131, 66) ;

}

.preview-slides ion-icon{
 color: #fff;
}
.preview-slides:hover ion-fab-button{
  display: block;

}

.first{
  margin-top: 10px;
  padding: 5px 0px 5px 0px;
  .rate{
      font-weight: bolder;
      margin-right: 10px;
  }
}
.reviews{
  color: gray;
  padding-right: 10px;
}
.place{
  color: gray;
}
// .edit-float-btn{
//   position: absolute;
//
//   width: 170px;
//   height: 80px;
//   color: red;
// }
.fab-panel{
position: absolute;
right: 15%;
top: 0;
margin-top: 80px;
}
.back-fab-btn{
  padding: 10px;
}

.image-section ion-icon{
  color: #ffffff;
}

.profile-thumb:hover img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

 .profile-thumb ion-fab-button{
  display: none;
  // --background:rgb(66, 131, 66) ;
}
.profile-thumb ion-fab{
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-evenly;
}
.profile-thumb ion-icon{
 color: #fff;
}
.profile-thumb:hover ion-fab-button{
  display: block;

}
.edit-btn{
  margin-top:0px;
  text-transform: none;
    width: 110px;
    height: 35px;
    --background:rgb(66, 131, 66);
    --border-radius: 20px;
}
.profile-thumb{
  margin: 20px 0px 30px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
  }
}
.activate-button {
  position: absolute;
    top:10px;
    right: 15%;
  --border-radius: 20px 20px 20px 20px;
  --padding-end: 40px;
  --padding-start: 40px;
}

ion-item {
  --padding-end: 0px;
  --padding-start: 0;
  --inner-padding-end: 0px;
}

.left-panel{
  .left-container{
      -webkit-box-pack: start ;
      -webkit-box-align: stretch;
      display: flex;
      align-items: stretch ;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100% ;
      margin-left: auto ;
      margin-right: auto ;
      padding-left: 0px ;
      padding-right: 0px ;
}
  .left-content{
      position: relative ;
      width: 58.333333333333336% ;
      margin-left: 0%;
      margin-right: 0%;
      display: inline-block;
      .dorm-item{
          padding-left: 0;
          padding-right: 0;
          ion-button{
              position: absolute;
              right: 0;
              top: 20px;
              height: 40px;
          }
          ion-icon {
            color: #3880ff;
            margin: 0px;
          }
          h1{
              margin-bottom: 0px;
          }
          p{
              margin-top: 0px;
              margin-bottom: 5px;
              color: gray;
          }
          span{
              color: black;
              margin-left: 5px;
          }
      }
      .room{
          width: 100%;
          height: 250px;
          margin: 15px 10px 20px 0px;
      }
      .item-images{
          margin: 0px 0px 0px;
          width: 100%;
          border-radius: 10px;
          overflow: hidden;

          img{
              margin-top: 10px;
              margin-bottom: 10px;
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px;
          }
      }
      .amenities{
          width: 100%;
          .amenity{
            .amenity-text{
                  margin-top: 5px;
                  margin-left: 5px;
                  margin-bottom: 5px;
                  font-weight: 400;
                  display: list-item;
                  list-style: inside;
              }

          }

        }
      .header{
          position: absolute;
          top: 0;
      }
      .maps{
          border-radius: 10px;
          width: 100%;
          margin-top: 50px;
          margin-bottom: 20px;
              .google-maps{
                  height: 50vh;
                  display: flex;
                  align-items: center;
                  justify-content: center;
              }

      }
  }
}
.ion-suggest-button{
  width: 250px;
  height: 40px;
  --background: rgb(66, 131, 66);
  --border-radius: 10px;
}

.reservation-btn{
  margin-top:0px;
  text-transform: none;
    width: 110px;
    height: 35px;
    --background:rgb(66, 131, 66);
    --border-radius: 20px;
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.comment-section{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(241, 241, 241);
  margin: 0;
}
.wrapper{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  min-height: 400px;
}
.wrapper .row{
  display: flex;
  flex-direction: row;
}
.form{
  height: 350px;
}
.wrapper .form .input-group{
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
}
.wrapper .form .input-group ion-label{
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
}
.wrapper .form .input-group ion-input, .wrapper .form .input-group textarea{
  width: 100%;
  height: 100%;
  border: 1px solid #00b894;
  outline: none;
  padding: 5px 10px;
}

.wrapper .form .input-group.textarea{
  resize: none;
  height: 200px;
}
.wrapper .form .input-group.textarea textarea{
  resize: none;
}
.comment-header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
}
.wrapper .prev-comments .single-item{
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
  text-align: left;
  border-radius: 20px;
  margin-bottom: 20px;
  h5{
    font-weight: 800;
    margin-bottom: 0;
  }
  p{
    margin-top: 0;
    color: gray;
    font-size: 10px;
  }

}
ion-text{
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: justify;

}

.profile{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.header-content{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
ion-text{
  font-size: 13px;
}


.right-container{
  position: relative;
  width: 33.3333% ;
  margin-left: 8.33333% ;
  margin-right: 0% ;
}
.right-panel{
  position: sticky;
  top: var(--navigation-bar-offset, 80px);
  z-index: 1 ;
  display: inline-block;
  width: 100% ;
  padding-right: 1px ;
}
.box-content{
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

}
.manage-border{
  width: 100%;
}
.price-border{
 width: 100%;
}
.green-btn{
  padding: 0px 20px 0px 20px;
  width: 100%;

}
.reserve-btn{
  --background: rgb(66, 131, 66);
  width: 100%;
}

legend {
  text-align: center;
  color: gray;
  font-weight: bold;
}
.back-button {
  width: 100%;
  border-radius: 100px;
}
.post-btn{
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: none;
    width: 180px;
    height: 35px;
    --background:rgb(66, 131, 66);
    --border-radius: 20px;
}
.prev-comments .single-item{
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
  text-align: left;
  border-radius: 20px;
  margin-bottom: 20px;
  h5{
    font-weight: 800;
    margin-bottom: 0;
  }
  p{
    margin-top: 0;
    color: gray;
    font-size: 10px;
  }
}
.tenant-btn{
  width: 100%;
  --border-radius: 10px !important;
  --background: rgb(66, 131, 66);
  margin-bottom: 10px;
}
.ion-manage-btn{
  width: 100%;
  --border-radius: 10px !important;
  --background: rgb(66, 131, 66);
}
.ion-manage-btn ion-icon{
  color: wheat;
  font-size: 25px;
}
.ion-manage-btn span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
fieldset {
  margin: 5px 5px 5px 5px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid gray;
  width: 100%;
}

.dorm-price{
  padding-left: 25px;
}
.icon{
  size: 10%;
  color: green;
  padding-left: 23px;
}
.icon-margin{
  margin-bottom: 20px;
}
.image-item img{
  width: 100px;
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
}
.box{
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.box .heading{

  // background: rgb(66, 131, 66);
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  height: 35px;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.questions{
  padding: 0px 20px 20px;
  ion-input{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid #00b894;
    outline: none;
    padding: 5px 10px;
  }
}

::marker{
  float: right;
  margin-top: 3px;

}
details{
  background: #f6f6f6;
  padding: 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 1px;
}

@media (max-width: 850px){
  .main-container{
      padding: 0px 0px;
      height: 70%;


      h1{
          font-size: 20px;
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 10px;
          font-weight: 700;
      }
  }
  .activate-button {
    position: absolute;
    margin: 240px 10px 0px 0px;
    top:0;
    right: 0;
    --border-radius: 20px 20px 20px 20px;
    --padding-end: 40px;
    --padding-start: 40px;
  }
  .profile-thumb{
     margin: 0;
     border-radius: 0;
     height: 300px;
  }


  .first{
      height: 20px;
      margin-bottom: 20px;
      margin-left: 10px;
      font-size: medium;
  }
  .dorm-item{
    h3{
      font-size: 20px;
      font-weight: 700;
      margin-top: 0px;
    }


  }

  h3{
    font-size: 18px;
    font-weight: 600;
  }
  .image-panel{
      display: flex;
      flex-direction:column-reverse;
      border-radius: 0%;
      margin-top: 0px;
      margin-bottom: 5px;
      height: 350px;

  }

  .left-panel{
      .left-container{
          width: 100% ;
          margin-left: auto ;
          margin-right: auto ;
          padding-left: 10px ;
          padding-right: 10px ;
      }
      .left-content{
          width: 100% ;
          margin-left: 0%;
          margin-right: 0%;
          display: inline-block;
          margin-top: 10px;

      }
  }

  .right-panel{
      left: 0px ;
      position: fixed;
      right: 0px ;
      z-index: 1999 ;
      bottom: 0px;
      top: auto ;
      -webkit-transform: none;
      -ms-transform: none ;
      transform: none ;
      background: aliceblue;
      width: 100% ;
      margin-left: 0;
      margin-right: 0% ;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

  }
  ion-text{
    display: none;
  }

  .reserve-btn{
      height: 45px;
      border-radius: 45px;
      width: 150px;
      position: absolute;
      right: 20px;
  }
  .green-btn{
     margin-top: 8px;
     position: absolute;
     right: 0;
     top: 10px;
  }
  .icon-margin{
      margin-bottom: 10px;
  }
  .manage-border{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
  .price-border{
    display: flex;
    flex-direction: row;
      margin-bottom: 0px;
      h3{
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 0px;
          margin-left:10px;
      }
      .dorm-price{
          padding-left: 0px;
      }
      .icon{
          position: absolute;
          margin-top: 1.3px;
          margin-left:10px;
          padding: 0;
      }
      .rate{
          font-size: small;
          margin: 20px;
          margin-left:30px;
      }
  }
  .box-content{
      border: 1px solid rgb(221, 221, 221);
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      padding: 10px;


  }
  fieldset {
      width: 200px;
      position: absolute;
      right: 10px;
      top: 15px;
    }
  .back-button {
      width: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 5px;
  }
  .comment-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(241, 241, 241);
    margin: 0;
  }
  .wrapper{
    margin-top: 0px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 400px;
  }
  .box{
    margin-top: 0px;
   padding-bottom: 100px;
  }
  .box .heading{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 00px;
  }
  .questions{
    padding: 5px;
  }
  .header-content{
    ion-text{
      font-size: 11;
    }
    h5{
      font-size: 15;
    }
  }
  legend{
    display: none;
  }
  .room{
    h1{
      margin-top: 10px;
    }
  }
  .fab-panel{
    position: absolute;
    right: 0%;
    top: 0%;
    color: transparent;
    margin-top: 5px;
  }
  .profile-thumb:hover img{
    filter: none;
    -webkit-filter: none;
    transition: none;
  }
  .edit-float{
    color: black;
  }

   .profile-thumb ion-fab-button{
    display: flex;
    width: 45px;
    height: 45px;

    // --background: rgb(66, 131, 66);


  }

  .back-fab-btn ion-fab-button{
    width: 45px;
    height: 45px;
    margin-top: 5px;
    margin-left: 5px;
    // --background: rgb(66, 131, 66);


  }
  .profile-thumb:hover ion-fab-button{
    display:flex;
    color: #fff;


  }
  .profile-thumb ion-icon{
    color: #fff;
  }
  .profile-thumb ion-fab{
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-evenly;
  }
  .back-fab-btn{
    padding: 0px;
  }
  .image-item img{
    width: 80px;
      position: absolute;
      margin-left: 0px;
      margin-top: 0px;
  }
 .reservation-btn{
   margin-bottom: 0px;
 }
 .room-text{
   margin: 0px;
 }
 .preview-slides:hover img{
  filter: none;
  -webkit-filter: none;
  transition: filter none;
}
.preview-slides ion-fab-button{
  display: flex;
  width: 45px;
  height: 45px;
  // --background:rgb(66, 131, 66) ;
}

.preview-slides ion-icon{
 color: #fff;
}
.preview-slides:hover ion-fab-button{
  display: block;

}
}


@media (max-width: 411px){
  .activate-button {
    position: absolute;
      margin: 240px 10px 0px 0px;
      top:0;
      right:0;
    --border-radius: 20px 20px 20px 20px;
    --padding-end: 40px;
    --padding-start: 40px;
  }
}
