.custom-layout{
    font-family: 'Poppins', sans-serif;
}
.content-container{
    position: relative;
    width: 100%;
    min-height: 76vh;
    background-color: #fff;
    overflow: hidden;
    background-image: url("/assets/images/20503de4f96ace6f1ff06e61a4540c13.png");
    background-size: cover;

}
h1{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.box{
    //position: absolute;
    //width: 100%;
    //max-width: 380px;
    //padding: 80px 40px 40px;
    //background: rgba(0,0,0,0.7);
    //border-radius: 10px;
    //color: #fff;
    //box-shadow: 0 15px, 25px rgba(0,0,0,0.5);
    width:300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 15px, 25px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    text-align: center;
    flex-direction: column;
   border-radius: 10px;
}

.box img{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
}

.ion-suggest-button{
    width: 200px;
    height: 55px;
    --background:rgb(66, 131, 66);
    --border-radius: 100px;
  }
