ion-content{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.custom-layout{
  font-family: 'Poppins', sans-serif;
}
.signin-container{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.signin-container::before{
  content: '';
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(-45deg, green, lightgreen);
  width: 1500px;
  height: 100%;
  left: 30%;
  bottom: 75%;
  transform: translateX(-59%);
  right: initial;
  top: initial;
}
.signin{
  top: 50%;
  width: 100%;
}
.forms-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 9%;
  left: 0;
}
.forms-container h1{
  font-weight: 800;
}
.fpassword{
  font-size: smaller;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-input{
  padding-left: 2vh;
  background-color: aliceblue;
  border-radius: 20px;
  margin-bottom: 26px;
  box-shadow: 0 1px 3px 0px black;
}
.input{
  display: flex;
  flex-direction: column;
  background: transparent;
  font-size: 16px;
  width: 200px;
  line-height: 1.2;
  border: none;
  outline: none;
  height: 46px;
  padding: 0 20px 023px;
}
.ion-suggest-button {
  width: 200px;
  height: 35px;
  --background:rgb(66, 131, 66);
  --border-radius: 100px;
}
.panels-container{
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: 30%;
 
}
.close-btn{
  position: absolute;
  margin-top: 10px;
  padding-left: 200%;
}
.panel{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}
.panel .content{
  color: #fff;
  padding-left: 25px;

}
.panel h2{
  font-weight: 600;
  line-height: 1;
  font-size: 1.2rem;
}

.panel p{
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.sign-btn{
  color: rgb(54, 66, 30);
}
.images{
  position: absolute;
  width: 20%;
  padding-top: 2%;
  margin-left: 69%;

}

@media (max-width: 870px){
  .signin{
      margin-top: 5%;
  }

  .signin-container:before{
      width: 1500px;
      height: 100%;
      left: 30%;
      bottom: 70%;
      transform: translateX(-59%);
      right: initial;
      top: initial;
  }

  .close-btn{
      margin-top: 10px;
      padding-left: 84%;
  }
  
  .panel .content{
    padding-top: 25px;
  
  }
  .images{
    padding-top: 35px;
  }
 

  .left-panel{
      grid-row: 1/2;
  }

}
