<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="signin-container">
    <div class="signin">
      <form class="forms-container">
        <h1 class="custom-layout">{{displayRole}}<br />Sign In</h1>

        <p class="custom-layout">Please login to continue.</p>
        <div class="form-input">
          <ion-input
            class="input custom-layout"
            type="text"
            name="username"
            placeholder="Username"
            [(ngModel)]="credentials.username"
          ></ion-input>
        </div>
        <div class="form-input">
          <ion-input
            class="input custom-layout"
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="credentials.plainPassword"
          ></ion-input>
        </div>
        <p class="fpassword custom-layout">
          Forgot Password? <a href="/forgot-password"> Click here.</a>
        </p>
        <div class="suggestView">
          <ion-button
            class="ion-suggest-button custom-layout"
            size="meduim"
            (click)="signInAction(role)"
            >Sign In</ion-button>
        </div>
      </form>
    </div>
    <div class="panels-container">
      <div class="panel right-panel">
        <div class="content">
          <h2 class="custom-layout">New here?</h2>
          <p class="custom-layout">
            Don't have a account? <br><a class="sign-btn" href="/sign-up"> Sign Up</a>
          </p>
        </div>
        <div class="images">
          <img src="/assets/images/tenant.svg" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
