<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="signin-container">
    <div class="signin">
      <form class="forms-container">
        <h1 class="custom-layout">{{displayRole}}  Sign In</h1>
        <p class="login custom-layout">Please login to continue.</p>
      <div class="change-form ">
          <div class="change-input">
            <ion-icon name="person-outline"></ion-icon>
            <ion-item>
              <ion-label class="custom-layout" position="floating">Username:</ion-label>
            <ion-input
            class="input custom-layout"
            type="text"
            name="username"
            [(ngModel)]="credentials.username"></ion-input>
          </ion-item>
        </div>
        <div class="change-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-item>
              <ion-label class="custom-layout" position="floating">Password:</ion-label>
          <ion-input
            class="input custom-layout"
            type="password"
            name="password"
            [(ngModel)]="credentials.plainPassword"
          ></ion-input>
          </ion-item>
        </div>
        </div>
        <p class="fpassword custom-layout">
          Forgot Password? <a href="/forgot-password"> Click here.</a>
        </p>
        <div class="suggestView">
          <ion-button
            class="ion-suggest-button custom-layout"
            size="meduim"
            (click)="signInAction(role)"
            >
            Sign In
          </ion-button>
        </div>
        <div *ngIf="errorMessage && toggle === true" class="error-container">
          <ion-icon class="close-toggle"name="close-outline" (click)="onToggle()"></ion-icon>
          <p class="error-text">{{ errorMessage }}</p>
        </div>
      </form>
    </div>
    <div class="panels-container">
      <div class="panel right-panel">
        <div class="content">
          <h2 class="custom-layout">New here?</h2>
          <p class="account custom-layout">
            Don't have a account? <br><a class="sign-btn" (click)="goToSignUpModal(role)"> Sign Up</a>
          </p>
        </div>
        <div class="images">
          <img src="/assets/images/tenant.svg" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
