<ion-tabs>
  <ion-tab-bar *ngIf="activePlatform === 'android'">
    <ion-tab-button tab="dormitory-list">
      <ion-icon size="large" color="success" name="list-circle-sharp"></ion-icon>
      <ion-label>Dormitory List</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="create-dormitory">
      <ion-icon size="large" color="success" name="add-circle"></ion-icon>
      <ion-label>Create Dormitory</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon size="large" color="success" name="person-circle"></ion-icon>
      <ion-label>User Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
