@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ion-fab-button {
  --background: transparent;
  --box-shadow: none;
}
ion-icon {
  color: black;
}
ion-fab-button:hover {
  --background: rgb(216, 88, 88);
}
ion-item {
  --inner-padding-end: 0px;
}
.main-container {
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: url("/assets/images/BG3.png");
  background-size: cover;
  background-position: center center;
  padding: 50px;
}
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.wrapper {
  max-width: 600px;
  padding: 0 20px;
  margin-top: 40px;
}
.parent-tab .span-content {
  font-weight: 100;
  font-size: 12px;
}
.wrapper .parent-tab,
.wrapper .child-tab {
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.18);
}
.wrapper .parent-tab label,
.wrapper .child-tab label {
  background: transparent;
  color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin: 0;
  background: #b3cfb3;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.span-text {
  font-weight: bolder;
}
.wrapper .parent-tab label:hover {
  background: #8ab593;
}
.parent-tab input:checked ~ label,
.child-tab input:checked ~ label {
  border-radius: 3px 3px 0 0;
  background: #8ab593;
}
.wrapper label span {
  color: #515251;
  font-size: 18px;
  font-weight: bolder;
}
.wrapper .child-tab label span {
  font-size: 17px;
}
.parent-tab label .icon {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #000000;
  display: block;
  border-radius: 50%;
}
.wrapper .child-tab label .icon {
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before {
  content: "\f077";
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content {
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content {
  max-height: 100vh;
}
.tab-3 input:checked ~ .content {
  padding: 15px 20px;
}
.parent-tab .content p,
.child-tab .sub-content p {
  padding: 15px 20px;
  font-size: 14px;
  display: list-item;
  list-style: inside;
  list-style-type: square;
  text-align: justify;
}
.child-tab .sub-content p {
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
ion-list {
  background: transparent;
}
ion-item {
  --background: transparent;
}
.guidlines-txt {
  margin-top: 20px;
}
.main-container-text .owner-txt {
  font-size: medium;
  font-weight: bolder;
  color: #6d8167;
}
.body-context {
  padding: 0px 40px 0px 40px;
}
.content-container {
  width: 100%;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
}
.controller-btn {
  display: flex;
  justify-content: center;
}
.controller-btn ion-segment {
  width: 40%;
  display: flex;
  flex-direction: row;
  background: #b3cfb3;
  justify-content: space-evenly;
  border-radius: 10px;
}
.controller-btn ion-label {
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.controller-btn ion-segment-button:hover {
  background: #6d8167;
  border-radius: 10px;
  transition: 0.7s;
}
.controller-btn ion-segment-button {
  margin: 0px 10px 0px 10px;
}
.guidlines-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.context span {
  font-weight: bolder;
}
.context p {
  text-align: justify;
}
.guidlines-content h5 {
  display: list-item;
  list-style-position: inside;
  list-style-type: circle;
  margin: 10px;
}
.guide-txt .manage-txt {
  font-size: 16px;
  font-weight: normal;
}
.guidlines-content h3 {
  margin: 10px 0px 0px 0px;
  font-size: larger;
  font-weight: bolder;
}
.guidlines-content p {
  display: list-item;
  margin: 15px 0px;
  list-style: inside;
}
.main-container .image-box {
  height: 100%;
  width: 40%;
}
.main-container .image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-container .main-container-text {
  width: 60%;
  animation: drop 3.5s ease;
}

.main-container .main-container-text .title {
  font-size: 35px;
  font-weight: 600;
  color: #6d8167;
}
.image-box {
  margin-top: 70px;
  position: sticky;
  float: right;
  width: 40%;
  animation: drop 3.5s ease;
  filter: drop-shadow(0px 5px 3px black);
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 700px) {
  .main-container {
    padding: 0;
  }
  .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 35px 10px 0px 10px;
  }
  .controller-btn ion-segment {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    background: #6d8167;
    justify-content: space-evenly;
    border-radius: 0px;
  }
  .controller-btn ion-label {
    color: rgb(245, 245, 245);
    font-weight: 600;
    font-size: 16px;
  }
  .main-container .main-container-text {
    width: 100%;
    animation: drop 3.5s ease;
  }
  .image-box {
    margin-top: 0px;
    width: 100%;
    animation: drop 3.5s ease;
    filter: drop-shadow(0px 5px 3px black);
  }
  .main-container .image-box {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
  }
}
