// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
// *{
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//     font-family: 'Poppins', sans-serif;
// }
.custom-layout {
    font-family: "Poppins", sans-serif;
  }
.wrapper{
    width: 100%;
    min-height: 100vh;
    background:
    url("/assets/images/BG3.png");
    // background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
    // url("/assets/images/BG4.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
   
}
.main-container{
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-panel{
    float: left;
    width: 55%;
}
.video-section{
    margin-top: 70px;
    float: right;
    width: 40%;
    animation: drop 1.5s ease;
    filter: drop-shadow(0px 5px 3px black);

}
.video-section video{
    width: 100%;
    height: auto;
    
}
.video-content{
    float: right;
    width: 90%;
    position: absolute;
    left: 0;

}
.content-panel ion-fab-button{
    --background: transparent;
    --box-shadow: none;
}
.content-panel ion-icon{
    color: black;
}
.content-panel ion-fab-button:hover{
    --background: lightgreen;
}


// .content-panel ion-button{
//     height: 60px;
//     width: 200px;
//     --border-radius: 10px;
// }
// .content-panel ion-label{
//     text-transform: none;
//     margin-left: 10px;
//     font-size: 22px;
//     font-weight: bolder;
// }
// .content-panel .aredna-logo{
//     font-size: 40px;
// }
// .content-panel ion-buttons{
//     position: absolute;
//     top: 0;
//     margin-top: 20px;
//     -webkit-padding-start: 0px;
// }
// .content-panel ion-button:hover{
//     transition: 0.7s;
// }
.content-panel .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-panel h1{
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 1px;
}
.content-panel .content p{
    margin-top: 20px;
    // color: whitesmoke;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.instruction-txt p{
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    display: list-item;
    list-style: inside;
    list-style-type: square;
}
.content-panel .content .body-txt{
    text-align: justify;
    text-indent: 25px;
}
p{
    font-weight: 200;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (max-width: 700px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-panel{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .video-section{
        margin-top: 20px;
        float: none;
        width: 100%;
        display: block;
    }
    .content-panel .title{
        text-align: center;
        font-size: 19px;
    }
}
