.custom-layout{
    font-family: 'Poppins', sans-serif;
}
.mainContainer {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    justify-content: flex-start;
    background-image: url("/assets/images/green_place.jpg");
    background-size: cover;
  }

  .searchView {
    display: flex;
    flex-direction: row;
    width: 60vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
    align-self: center;
  }

  .ion-item-search {
    --border-radius: 100px;
  }
  ion-searchbar{
    --icon-color: var(--ion-color-meduim);
    --border-radius: 100px;

}
  .suggestView {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 70px 0px;
  }
  
  .suggestText {
    font-weight: 600;
    color: whitesmoke;
  }
  
  .ion-suggest-button {
    --background: rgb(72, 141, 84);
    --border-radius: 100px;
    width: 220px;
  }
  
  .button-text {
    color:wheat;
    font-weight: 500;
  }
 
  .featured-slide{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    background-repeat: no-repeat;
    
        img{
            height: 300px;
        }

        .info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
}