<app-header></app-header>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content>
  <div class="image-container">
    <img src="/assets/images/dorm ui bg.png" alt="" />
  </div>
  <div class="mainContainer">
    <!--<div class="searchView">-->
    <div class="search-box custom-layout">
      <input
        class="search-txt"
        type="text"
        name=""
        placeholder="You can search here Dormitory Name and Location. . . "
        [(ngModel)]="searchKey"
      />
      <ion-buttons class="search-btn">
        <ion-button
          class="ion-suggest-button custom-layout"
          size="default"
          (click)="searchAction()"
        >
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="suggestView">
      <h4 class="suggestText custom-layout">Don't know where to find?</h4>
      <ion-button
        class="ion-suggest-button custom-layout"
        size="large"
        routerLink="/instructions"
        >Let us help
      </ion-button>
    </div>
  </div>
  <div class="contactUs-container"></div>
</ion-content>
