.custom-layout{
    font-family: 'Poppins', sans-serif;
}
.mainContainer {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    justify-content: flex-start;
    background-image: url("/assets/images/dorm ui home bg.png");
    background-size: cover;
    padding: 0% 15% 0% 15%;
  }

  .searchView {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 60vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
    align-self: center;
  }

  .ion-item-search {
    --border-radius: 100px;
  }
  ion-searchbar{
    width: 550px;
    --icon-color: var(--ion-color-meduim);
    --border-radius: 100px;

}
  .suggestView {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 20px 0px;
  }

  .suggestText {
    font-weight: 600;
    color: whitesmoke;
  }

  .ion-suggest-button {
    --background: rgb(72, 141, 84);
    --border-radius: 100px;
    width: 220px;
  }

  .button-text {
    color:wheat;
    font-weight: 500;
  }




.dormitories-container {
  width: 100%;
  height: auto;
  padding: 0% 10% 0% 10%;
}

.dormitories-title {
  font-size: 30px;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  padding: 0px;
  border-radius: 10px ;
  border: 1px solid lightgray;
}

.card-title {
  font-weight: bold;
  margin: 0px;
}

.image {
  margin: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px
}

.button-text {
  width: 100%;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  --color: white;
}

.page-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.slides-container {
  width: 115vh;
  height: 100%;
  background-color: blue
}

.owner-content{
  //-image: url("/assets/images/more.webp");
  padding-left: 20%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  height: 40%;
  width: 100%;
  padding: 0% 10% 0% 10%;

  img{
    border-radius: 20px;
    height: 100%;
  }

  .owner-txt{
    position: absolute;
    padding-top: 3%;
    padding-left: 6%;
    align-content: center;


    h1{
      color: #fff;
      font-weight: 700;
    }

    ion-text{
      color: #fff;
      font-size: 18px;
    }
  }
}



@media (max-width: 400px) {
  .dormitories-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 0% 5% 0% 5%;
  }
}

@media (max-width: 1700px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 0px;
    border-radius: 10px ;
    border: 1px solid lightgray;
  }
}

@media (max-width: 1600px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: auto;
    padding: 0px;
    border-radius: 10px ;
    border: 1px solid lightgray;
  }
}

@media (max-width: 1500px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: auto;
    padding: 0px;
    border-radius: 10px ;
    border: 1px solid lightgray;
  }
}

@media (max-width: 1450px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    padding: 0px;
    border-radius: 10px ;
    border: 1px solid lightgray;
  }
}

@media (max-width: 1300px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    padding: 0px;
    border-radius: 10px ;
    border: 1px solid lightgray;
  }
}

@media (max-width: 990px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    padding: 0px;
    border-radius: 10px ;
    border: 1px solid lightgray;
  }
}

@media (max-width: 950px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 0px;
    border-radius: 10px ;
    border: 1px solid lightgray;
  }
  ion-searchbar{
    width: 100%;
  }
}

@media (max-width: 700px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 0px;
    border-radius: 10px ;
    border: 1px solid lightgray;
  }
}


@media (max-width: 870px){
  .mainContainer {
      display: flex;
      flex-direction: column;
      height: 70%;
      width: 100%;
      justify-content: flex-start;
  }

  .suggestView {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 70px 0px;
    margin-top: 50px;
  }

.searchView {
  width: 320px;
}
.features{
  padding-left:20px;
}
.features-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  padding: 0% 0% 0% 0%;
}
.owner-content{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  padding: 0% 0% 0% 0%;
  height: 30%;
  width: 200%;

  img{
    border-radius: 0px;
}
}

}
