<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<ion-content>
  <div class="main-container custom-layout">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" (click)="closeModal()">
        <ion-icon name="close-outline"> </ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <ion-button (click)="closeModal()">Close</ion-button> -->
    <h1>Add Amenities</h1>
    <p>Please add amenities to continue.</p>
    <div class="amenity-container">
    <ion-item [disabled]="this.isCreated === true">
      <ion-label class="custom-layout" position="floating"> Amenity </ion-label>
      <ion-input class="custom-layout" [(ngModel)]="amenityDetail.amenity"></ion-input>
    </ion-item>
    <div class="amenity-panel">
      <ion-button
        class="ion-amenity-btn custom-layout"
        *ngFor="let button of buttons"
        [disabled]="button.disable()"
        (click)="button.toDo(dormitoryId)"
        [hidden]="button.state()"
      >
        {{button.name}}
      </ion-button>
    </div>
    <!-- <div class="error-container">
      <p class="error-text">errorMessage</p>
    </div>
    <div class="success-container">
      <p class="success-text">successMessage</p>
    </div> -->
    <div class="error-container">
      <p class="error-text" *ngIf="errorMessage !== ''">{{ errorMessage }}</p>
    </div>
    <div class="success-container">
      <p class="success-text" *ngIf="successMessage !== ''">{{ successMessage }}</p>
    </div>
  </div>
  </div>
</ion-content>
