ion-content{
    --background: lightgray;
}

ion-footer{
    margin-bottom: 10px;
}

.background-gray {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: gray;
}

ion-slides{
    height: 100%;
}
